Repository knj-labo/mdx-hybrid: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, cargo fmt --

fix(plugin): add early detection of problematic MDX patterns
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched

feat(plugin): optimize MDX batch cache and unify component injection
  packages/markflow/src/registry/index.js
  packages/markflow/src/registry/presets/expressive-code.js
  packages/vite-plugin-markflow/src/index.js
  packages/vite-plugin-markflow/src/transforms/blocks-to-jsx.js
  packages/vite-plugin-markflow/src/transforms/blocks-to-jsx.test.js
  packages/vite-plugin-markflow/src/transforms/index.js
  packages/vite-plugin-markflow/src/transforms/inject-components.js
  packages/vite-plugin-markflow/src/transforms/inject-components.test.js
  packages/vite-plugin-markflow/src/types.js
  packages/vite-plugin-markflow/src/utils/config.js
Due: biome check --apply --no-errors-on-unmatched

fix(plugin): add early detection of problematic MDX patterns (#117)
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched

fix(plugin): remove duplicate hasProblematicMdxPatterns function
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched

fix(plugin): restore MDX file check for batch cache skip
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched

feat(plugin): optimize MDX batch cache and unify component injection (#118)
  packages/markflow/src/registry/index.js
  packages/markflow/src/registry/presets/expressive-code.js
  packages/vite-plugin-markflow/src/index.js
  packages/vite-plugin-markflow/src/transforms/blocks-to-jsx.js
  packages/vite-plugin-markflow/src/transforms/blocks-to-jsx.test.js
  packages/vite-plugin-markflow/src/transforms/index.js
  packages/vite-plugin-markflow/src/transforms/inject-components.js
  packages/vite-plugin-markflow/src/transforms/inject-components.test.js
  packages/vite-plugin-markflow/src/types.js
  packages/vite-plugin-markflow/src/utils/config.js
Due: biome check --apply --no-errors-on-unmatched

feat(plugin): optimize MDX batch cache and unify component injection
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched

feat(plugin): make Shiki + mdast pipeline the default
  packages/vite-plugin-markflow/src/index.js
  packages/vite-plugin-markflow/src/workers/shiki-pool.js
  packages/vite-plugin-markflow/src/workers/shiki-pool.test.js
  packages/vite-plugin-markflow/src/workers/shiki-worker.js
Due: biome check --apply --no-errors-on-unmatched

refactor: consolidate packages from 5 to 3
  packages/astro-markflow/index.d.ts
  packages/astro-markflow/index.js
  packages/astro-markflow/package.json
  packages/astro-markflow/src/index.js
  packages/astro-markflow/src/pipeline/pipe.js
  packages/astro-markflow/src/pipeline/pipe.test.js
  packages/astro-markflow/src/plugins.test.js
  packages/astro-markflow/src/presets/index.js
  packages/astro-markflow/src/transforms/blocks-to-jsx.js
  packages/astro-markflow/src/transforms/blocks-to-jsx.test.js
  packages/astro-markflow/src/transforms/expressive-code.js
  packages/astro-markflow/src/transforms/expressive-code.test.js
  packages/astro-markflow/src/transforms/index.js
  packages/astro-markflow/src/transforms/index.test.js
  packages/astro-markflow/src/transforms/inject-components.js
  packages/astro-markflow/src/transforms/inject-components.test.js
  packages/astro-markflow/src/transforms/shiki.js
  packages/astro-markflow/src/transforms/shiki.test.js
  packages/astro-markflow/src/types.js
  packages/astro-markflow/src/utils/config.js
  packages/astro-markflow/src/utils/config.test.js
  packages/astro-markflow/src/utils/imports.js
  packages/astro-markflow/src/utils/imports.test.js
  packages/astro-markflow/src/utils/paths.js
  packages/astro-markflow/src/utils/paths.test.js
  packages/astro-markflow/src/utils/validation.js
  packages/astro-markflow/src/utils/validation.test.js
  packages/astro-markflow/src/vite-plugin.js
  packages/markflow-wasm/package.json
  packages/markflow/package.json
  packages/markflow/src/browser.js
  packages/markflow/wasm/markflow_wasm.d.ts
  packages/markflow/wasm/markflow_wasm.js
  packages/markflow/wasm/markflow_wasm_bg.wasm
  packages/markflow/wasm/markflow_wasm_bg.wasm.d.ts
  packages/markflow/wasm/package.json
  packages/vite-plugin-markflow/package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched

refactor: consolidate packages from 5 to 3 (#120)
  packages/astro-markflow/index.d.ts
  packages/astro-markflow/index.js
  packages/astro-markflow/package.json
  packages/astro-markflow/src/index.js
  packages/astro-markflow/src/pipeline/pipe.js
  packages/astro-markflow/src/pipeline/pipe.test.js
  packages/astro-markflow/src/plugins.test.js
  packages/astro-markflow/src/presets/index.js
  packages/astro-markflow/src/transforms/blocks-to-jsx.js
  packages/astro-markflow/src/transforms/blocks-to-jsx.test.js
  packages/astro-markflow/src/transforms/expressive-code.js
  packages/astro-markflow/src/transforms/expressive-code.test.js
  packages/astro-markflow/src/transforms/index.js
  packages/astro-markflow/src/transforms/index.test.js
  packages/astro-markflow/src/transforms/inject-components.js
  packages/astro-markflow/src/transforms/inject-components.test.js
  packages/astro-markflow/src/transforms/shiki.js
  packages/astro-markflow/src/transforms/shiki.test.js
  packages/astro-markflow/src/types.js
  packages/astro-markflow/src/utils/config.js
  packages/astro-markflow/src/utils/config.test.js
  packages/astro-markflow/src/utils/imports.js
  packages/astro-markflow/src/utils/imports.test.js
  packages/astro-markflow/src/utils/paths.js
  packages/astro-markflow/src/utils/paths.test.js
  packages/astro-markflow/src/utils/validation.js
  packages/astro-markflow/src/utils/validation.test.js
  packages/astro-markflow/src/vite-plugin.js
  packages/markflow-wasm/package.json
  packages/markflow/package.json
  packages/markflow/src/browser.js
  packages/markflow/wasm/markflow_wasm.d.ts
  packages/markflow/wasm/markflow_wasm.js
  packages/markflow/wasm/markflow_wasm_bg.wasm
  packages/markflow/wasm/markflow_wasm_bg.wasm.d.ts
  packages/markflow/wasm/package.json
  packages/vite-plugin-markflow/package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched

refactor(pipeline): extract transform pipeline into standalone orchestrator
  packages/astro-markflow/package.json
  packages/astro-markflow/src/pipeline/index.js
  packages/astro-markflow/src/pipeline/orchestrator.js
  packages/astro-markflow/src/pipeline/orchestrator.test.js
  packages/astro-markflow/src/pipeline/types.js
  packages/astro-markflow/src/vite-plugin.js
Due: biome check --apply --no-errors-on-unmatched

refactor(pipeline): extract transform pipeline into standalone orchestrator (#121)
  packages/astro-markflow/package.json
  packages/astro-markflow/src/pipeline/index.js
  packages/astro-markflow/src/pipeline/orchestrator.js
  packages/astro-markflow/src/pipeline/orchestrator.test.js
  packages/astro-markflow/src/pipeline/types.js
  packages/astro-markflow/src/vite-plugin.js
Due: biome check --apply --no-errors-on-unmatched

feat(registry): complete component registry migration
  packages/astro-markflow/src/transforms/inject-components.js
  packages/astro-markflow/src/transforms/inject-components.test.js
  packages/astro-markflow/src/utils/config.js
  packages/astro-markflow/src/utils/config.test.js
  packages/markflow/package.json
  packages/markflow/src/registry/index.js
  packages/markflow/src/registry/validation.js
  packages/markflow/src/registry/validation.test.js
Due: biome check --apply --no-errors-on-unmatched

feat(registry): complete component registry migration (#122)
  packages/astro-markflow/src/transforms/inject-components.js
  packages/astro-markflow/src/transforms/inject-components.test.js
  packages/astro-markflow/src/utils/config.js
  packages/astro-markflow/src/utils/config.test.js
  packages/markflow/package.json
  packages/markflow/src/registry/index.js
  packages/markflow/src/registry/validation.js
  packages/markflow/src/registry/validation.test.js
Due: biome check --apply --no-errors-on-unmatched

feat(plugin): wire up preprocess hooks for source transformation
  packages/astro-markflow/src/plugins.test.js
  packages/astro-markflow/src/vite-plugin.js
Due: biome check --apply --no-errors-on-unmatched

feat(plugin): wire up preprocess hooks for source transformation (#123)
  packages/astro-markflow/src/plugins.test.js
  packages/astro-markflow/src/vite-plugin.js
Due: biome check --apply --no-errors-on-unmatched

perf(plugin): disable preventive pattern detection to reduce fallback rate
  packages/astro-markflow/src/vite-plugin.js
Due: biome check --apply --no-errors-on-unmatched

perf(plugin): disable preventive pattern detection to reduce fallback rate (#124)
  packages/astro-markflow/src/vite-plugin.js
Due: biome check --apply --no-errors-on-unmatched

perf(core): insert blank line before top-level component tags
  crates/core/src/transform/jsx_normalize.rs
Due: cargo fmt --

perf(core): insert blank line before top-level component tags (#125)
  crates/core/src/transform/jsx_normalize.rs
Due: cargo fmt --

chore: sync pnpm-lock.yaml with package.json
  pnpm-lock.yaml
Due: none

fix(vite-plugin): resolve module runner timing issue in Vite 6
  packages/astro-markflow/src/vite-plugin.ts
Due: biome check --apply --no-errors-on-unmatched

ci: add packages quality check job
  .github/workflows/ci.yml
Due: none

ci: add packages quality check job (#127)
  .github/workflows/ci.yml
Due: none

fix(core): remove overly aggressive component collapsing in collapse_multiline_wrapper_tags
  crates/core/src/renderer/mdast/mod.rs
  crates/core/src/transform/jsx_normalize.rs
Due: cargo fmt --

style: fix formatting issues
  crates/core/src/renderer/mdast/mod.rs
  crates/core/src/transform/jsx_normalize.rs
Due: cargo fmt --

fix(core): remove overly aggressive component collapsing in collapse_multiline_wrapper_tags (#130)
  crates/core/src/renderer/mdast/mod.rs
  crates/core/src/transform/jsx_normalize.rs
Due: cargo fmt --

fix: keep jsx inline inside tables
  crates/core/src/renderer/mdast/context.rs
  crates/core/src/renderer/mdast/mod.rs
  crates/core/src/renderer/mdast/render.rs
  crates/core/src/renderer/mdast/types.rs
Due: cargo fmt --

fix: keep jsx inline inside tables (#133)
  crates/core/src/renderer/mdast/context.rs
  crates/core/src/renderer/mdast/mod.rs
  crates/core/src/renderer/mdast/render.rs
  crates/core/src/renderer/mdast/types.rs
Due: cargo fmt --

chore: remove MARKFLOW_DISABLE flag
  fixtures/integration/astro-harness/plugins/markflow-content-plugin.mjs
  packages/astro-markflow/src/vite-plugin.ts
Due: biome check --apply --no-errors-on-unmatched

fix: load markflow-napi via native binary and stabilize harness
  crates/core/src/renderer/mdast/context.rs
  crates/core/src/renderer/mdast/mod.rs
  crates/core/src/renderer/mdast/render.rs
  fixtures/integration/astro-harness/astro.config.mjs
  fixtures/integration/astro-harness/package.json
  fixtures/integration/astro-harness/plugins/markflow-content-plugin.mjs
  packages/astro-markflow/src/vite-plugin.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

fix: add allow_raw_html to napi mdast options
  crates/napi/src/lib.rs
  crates/napi/src/types.rs
Due: cargo fmt --

fix: keep allow_raw_html opt-in and set it explicitly for mdast compiler
  crates/core/src/renderer/mdast/mod.rs
  crates/napi/src/compiler.rs
Due: cargo fmt --

fix: normalize Steps slot to single ol child
  crates/core/src/renderer/mdast/render.rs
Due: cargo fmt --

fix: enforce single ol for Steps in jsx transform
  packages/astro-markflow/src/transforms/blocks-to-jsx.ts
Due: biome check --apply --no-errors-on-unmatched

Path conditions:
  biome check --apply --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,json}
  biome format --write --no-errors-on-unmatched: any of: *.{md,mdx}
  cargo fmt --: any of: *.rs
