Repository knj-labo/mdx-hybrid: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, cargo fmt --

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json}": [
    "biome check --apply --no-errors-on-unmatched"
  ],
  "*.{md,mdx}": [
    "biome format --write --no-errors-on-unmatched"
  ],
  "*.rs": [
    "cargo fmt --"
  ]
}

feat: integrate parseBlocks() into Vite plugin for mdast pipeline
  packages/vite-plugin-markflow/src/index.js
  test-vite-plugin-mdast.mjs
Due: biome check --apply --no-errors-on-unmatched

docs: add Block Architecture integration summary
  BLOCK_ARCHITECTURE_INTEGRATION.md
Due: biome format --write --no-errors-on-unmatched

fix: collapse nested if statement to satisfy clippy
  crates/core/src/renderer/mdast.rs
Due: cargo fmt --

feat: Integrate Block Architecture with parseBlocks() NAPI binding (#58)
  BLOCK_ARCHITECTURE_INTEGRATION.md
  crates/core/src/renderer/mdast.rs
  crates/napi/src/lib.rs
  crates/napi/src/types.rs
  multilingual-analysis.md
  packages/vite-plugin-markflow/src/index.js
  test-parse-blocks.mjs
  test-vite-plugin-mdast.mjs
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, cargo fmt --

refactor: remove legacy mdast_renderer in favor of parseBlocks()
  crates/core/src/lib.rs
  crates/core/src/renderer/mdast_renderer.rs
  crates/core/src/renderer/mod.rs
  crates/napi/src/compiler.rs
Due: cargo fmt --

feat: add heading extraction to parseBlocks
  crates/core/src/renderer/mdast.rs
  crates/napi/src/lib.rs
  crates/napi/src/types.rs
  packages/vite-plugin-markflow/src/index.js
  test-vite-plugin-mdast.mjs
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

feat: add MDX JSX support to mdast renderer
  crates/core/src/renderer/mdast.rs
  fixtures/integration/withastro-docs/harness-summary.json
  test-mdx-jsx.mjs
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

feat: unify directive and JSX rendering with internal JSX markers
  crates/core/src/renderer/mdast.rs
  fixtures/integration/withastro-docs/harness-summary.json
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

style: apply cargo fmt formatting
  crates/core/src/renderer/mdast.rs
Due: cargo fmt --

feat: fix clippy mdast
  crates/core/src/renderer/mdast.rs
Due: cargo fmt --

chore: apply formatting
  crates/core/src/renderer/mdast.rs
Due: cargo fmt --

feat: update test
  crates/core/src/renderer/mdast.rs
Due: cargo fmt --

feat: fix test
  crates/core/src/renderer/mdast.rs
Due: cargo fmt --

feat: unify directive and JSX rendering with internal JSX markers (#60)
  crates/core/src/renderer/mdast.rs
  crates/napi/src/lib.rs
  crates/napi/src/types.rs
  fixtures/integration/withastro-docs/harness-summary.json
  packages/vite-plugin-markflow/src/index.js
  test-mdx-jsx.mjs
  test-vite-plugin-mdast.mjs
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

refactor: merge markdown blocks and rename html renderer
  crates/core/src/adapter.rs
  crates/core/src/renderer/html.rs
  crates/core/src/renderer/mod.rs
  crates/core/src/renderer/multipass.rs
Due: cargo fmt --

refactor: rename jsx renderer module
  crates/core/src/renderer/jsx.rs
  crates/core/src/renderer/mod.rs
Due: cargo fmt --

chore: address clippy warning
  crates/core/src/renderer/html.rs
Due: cargo fmt --

test: update multipass fallback expectations
  crates/core/src/renderer/multipass.rs
Due: cargo fmt --

refactor: merge markdown blocks and rename html renderer (#61)
  crates/core/src/adapter.rs
  crates/core/src/renderer/html.rs
  crates/core/src/renderer/jsx.rs
  crates/core/src/renderer/mod.rs
  crates/core/src/renderer/multipass.rs
Due: cargo fmt --

fix: stabilize starlight layer order in dev
  docs/decision-log.md
  docs/notes/spacing-regression.md
  packages/vite-plugin-markflow/src/index.js
  scripts/debug/inspect-heading-margin.mjs
  scripts/debug/inspect-layer-order.mjs
  scripts/debug/inspect-style-tags.mjs
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Stabilize starlight layer order in dev (#62)
  docs/decision-log.md
  docs/notes/spacing-regression.md
  packages/vite-plugin-markflow/src/index.js
  scripts/debug/inspect-heading-margin.mjs
  scripts/debug/inspect-layer-order.mjs
  scripts/debug/inspect-style-tags.mjs
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

fix: harden multipass and error handling
  crates/core/src/error.rs
  crates/core/src/parser/markdown_adapter.rs
  crates/core/src/renderer/html.rs
  crates/core/src/renderer/multipass.rs
  crates/core/tests/integration_tests.rs
  crates/napi/src/lib.rs
Due: cargo fmt --

refactor: write jsx rendering into shared buffer
  crates/core/src/renderer/jsx.rs
Due: cargo fmt --

Phase1 layout fix (#63)
  crates/core/src/error.rs
  crates/core/src/parser/markdown_adapter.rs
  crates/core/src/renderer/html.rs
  crates/core/src/renderer/jsx.rs
  crates/core/src/renderer/multipass.rs
  crates/core/tests/integration_tests.rs
  crates/napi/src/lib.rs
Due: cargo fmt --

chore: sync harness docs and scripts
  docs/decisions/2026-01-10-harness-repro.md
  docs/specs/astro-harness-repro.md
  fixtures/integration/astro-harness/README.md
  fixtures/integration/astro-harness/plugins/markflow-content-plugin.mjs
  fixtures/integration/astro-harness/src/content/docs/getting-started.mdx
  scripts/README.md
  scripts/compare-astro-harness.mjs
  scripts/visual-diff-astro-harness.mjs
  scripts/visual-diff-withastro-docs.mjs
  test-directive-jsx-coexist.mjs
  test-preprocess-debug.mjs
  test-xss-debug.mjs
Due: biome format --write --no-errors-on-unmatched

chore: apply formatting
  crates/core/src/renderer/jsx.rs
  crates/napi/src/lib.rs
Due: cargo fmt --

phase1 layout fix (#64)
  crates/core/src/renderer/jsx.rs
  crates/napi/src/lib.rs
  docs/decisions/2026-01-10-harness-repro.md
  docs/specs/astro-harness-repro.md
  fixtures/integration/astro-harness/README.md
  fixtures/integration/astro-harness/plugins/markflow-content-plugin.mjs
  fixtures/integration/astro-harness/src/content/docs/getting-started.mdx
  scripts/README.md
  scripts/compare-astro-harness.mjs
  scripts/visual-diff-astro-harness.mjs
  scripts/visual-diff-withastro-docs.mjs
  test-directive-jsx-coexist.mjs
  test-preprocess-debug.mjs
  test-xss-debug.mjs
Due: biome format --write --no-errors-on-unmatched, cargo fmt --

refactor: split jsx component handlers
  crates/core/src/renderer/jsx.rs
  crates/core/src/renderer/jsx/handlers.rs
Due: cargo fmt --

refactor: split jsx component handlers (#65)
  crates/core/src/renderer/jsx.rs
  crates/core/src/renderer/jsx/handlers.rs
Due: cargo fmt --

feat: add span metadata to events
  crates/core/src/adapter.rs
  crates/core/src/event.rs
  crates/core/src/lib.rs
  crates/core/src/parser/markdown_adapter.rs
  crates/core/src/renderer/html.rs
  crates/core/src/renderer/jsx.rs
  crates/core/src/span.rs
  crates/core/src/transform/directive_adapter.rs
  crates/core/src/transform/hoist_adapter.rs
  crates/napi/src/headings.rs
Due: cargo fmt --

feat: add span metadata to events (#66)
  crates/core/src/adapter.rs
  crates/core/src/event.rs
  crates/core/src/lib.rs
  crates/core/src/parser/markdown_adapter.rs
  crates/core/src/renderer/html.rs
  crates/core/src/renderer/jsx.rs
  crates/core/src/span.rs
  crates/core/src/transform/directive_adapter.rs
  crates/core/src/transform/hoist_adapter.rs
  crates/napi/src/headings.rs
Due: cargo fmt --

feat(core): add JSX component registry and plugin hooks
  crates/core/src/lib.rs
  crates/core/src/renderer/jsx.rs
  crates/core/src/renderer/jsx/components.rs
  crates/core/src/renderer/mod.rs
  docs/specs/mf-171-jsx-renderer-api.md
Due: biome format --write --no-errors-on-unmatched, cargo fmt --

test(core): cover jsx plugin registry
  crates/core/tests/integration_tests.rs
Due: cargo fmt --

feat(bindings): add jsx render options
  crates/core/src/renderer/jsx.rs
  crates/napi/src/lib.rs
  crates/napi/src/types.rs
  crates/wasm/src/lib.rs
Due: cargo fmt --

docs(specs): add jsx napi/wasm examples
  docs/specs/mf-171-jsx-renderer-api.md
Due: biome format --write --no-errors-on-unmatched

feat(napi/wasm): pass jsx options to compileIr
  crates/napi/src/compiler.rs
  crates/napi/src/lib.rs
  crates/napi/src/types.rs
  crates/wasm/tests/render_jsx.rs
Due: cargo fmt --

test(wasm): fix jsx options test inputs
  crates/wasm/tests/render_jsx.rs
  crates/wasm/tests/stream_html.rs
Due: cargo fmt --
