Repository knj-labo/mdx-hybrid: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, cargo fmt --

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json}": [
    "biome check --apply --no-errors-on-unmatched"
  ],
  "*.{md,mdx}": [
    "biome format --write --no-errors-on-unmatched"
  ],
  "*.rs": [
    "cargo fmt --"
  ]
}

feat: add AST transformers for Steps and FileTree components
  crates/core/src/transform/ast_components.rs
Due: cargo fmt --

fix: properly hoist multi-line export statements
  crates/napi/src/compiler.rs
  crates/napi/src/lib.rs
Due: cargo fmt --

fix: properly hoist multi-line export statements
  crates/napi/src/compiler.rs
  crates/napi/src/lib.rs
  scripts/fix-mdx-indentation.mjs
Due: cargo fmt --

style: apply cargo fmt
  crates/napi/src/compiler.rs
  crates/napi/src/lib.rs
Due: cargo fmt --

properly hoist multi-line export statements (#72)
  crates/napi/src/compiler.rs
  crates/napi/src/lib.rs
  scripts/fix-mdx-indentation.mjs
Due: cargo fmt --

fix: handle user-provided export default statements
  crates/napi/src/codegen.rs
  crates/napi/src/compiler.rs
  crates/napi/src/lib.rs
  crates/napi/src/types.rs
Due: cargo fmt --

fix: handle user-provided export default statements (#73)
  crates/napi/src/codegen.rs
  crates/napi/src/compiler.rs
  crates/napi/src/lib.rs
  crates/napi/src/types.rs
Due: cargo fmt --

feat: full import/export hoisting from anywhere in document
  crates/napi/src/compiler.rs
  crates/napi/src/lib.rs
Due: cargo fmt --

feat: full import/export hoisting from anywhere in document (#74)
  crates/napi/src/compiler.rs
  crates/napi/src/lib.rs
Due: cargo fmt --

feat: add astro-code class and tabindex to code blocks
  crates/core/src/renderer/mdast.rs
  crates/napi/src/lib.rs
Due: cargo fmt --

feat: add astro-code class and tabindex to code blocks (#75)
  crates/core/src/renderer/mdast.rs
  crates/napi/src/lib.rs
Due: cargo fmt --

chore: remove deprecated types and fields
  crates/napi/src/types.rs
Due: cargo fmt --

chore: remove deprecated types and fields (#76)
  crates/napi/src/types.rs
Due: cargo fmt --

feat(wasm): add compile() function for Astro module generation
  Cargo.lock
  crates/wasm/Cargo.toml
  crates/wasm/src/lib.rs
  crates/wasm/tests/compile.rs
Due: cargo fmt --

feat(wasm): add compile() function for Astro module generation (#77)
  Cargo.lock
  crates/wasm/Cargo.toml
  crates/wasm/src/lib.rs
  crates/wasm/tests/compile.rs
Due: cargo fmt --

feat: add Universal SDK (markflow) with NAPI/WASM backends
  .gitignore
  crates/napi/package.json
  crates/wasm/Cargo.toml
  packages/astro-loader/package.json
  packages/markflow-wasm/package.json
  packages/markflow/package.json
  packages/markflow/src/browser.js
  packages/markflow/src/index.d.ts
  packages/markflow/src/node.js
  packages/vite-plugin-markflow/package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched

feat: add Astro integration (astro-markflow)
  packages/astro-markflow/index.d.ts
  packages/astro-markflow/index.js
  packages/astro-markflow/package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched

feat: add Astro integration (astro-markflow) (#79)
  packages/astro-markflow/index.d.ts
  packages/astro-markflow/index.js
  packages/astro-markflow/package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched

feat: add robust fallback patterns for safer MDX compilation
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched

feat: add robust fallback patterns for safer MDX compilation (#80)
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched

chore: update pnpm-lock.yaml for markflow package
  pnpm-lock.yaml
Due: none

Add Universal SDK (markflow) with NAPI/WASM backends (#78)
  .gitignore
  crates/napi/package.json
  crates/wasm/Cargo.toml
  packages/astro-loader/package.json
  packages/markflow-wasm/package.json
  packages/markflow/package.json
  packages/markflow/src/browser.js
  packages/markflow/src/index.d.ts
  packages/markflow/src/node.js
  packages/vite-plugin-markflow/package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched

fix: escape backticks in text content to prevent template literal injection
  crates/core/src/renderer/mdast.rs
  crates/napi/tests/template_literal_bug.test.js
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

fix: escape backticks in text content to prevent template literal injection (#81)
  crates/core/src/renderer/mdast.rs
  crates/napi/tests/template_literal_bug.test.js
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

fix: preserve JSX expressions in props and escape code block braces
  crates/core/src/lib.rs
  crates/core/src/renderer/mdast.rs
  crates/core/src/renderer/mod.rs
  crates/core/src/transform/code_fence.rs
  crates/napi/src/compiler.rs
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

fix: preserve props when rendering nested components
  crates/core/src/renderer/mdast.rs
Due: cargo fmt --

fix: detect problematic Starlight component patterns and trigger fallback
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched

chore: apply formatting
  crates/core/src/renderer/mdast.rs
Due: cargo fmt --

style: format mod.rs imports
  crates/core/src/renderer/mod.rs
Due: cargo fmt --

fix: update WASM crate to handle PropValue enum
  crates/wasm/src/lib.rs
Due: cargo fmt --

preserve JSX expressions in props and escape code block braces (#82)
  crates/core/src/lib.rs
  crates/core/src/renderer/mdast.rs
  crates/core/src/renderer/mod.rs
  crates/core/src/transform/code_fence.rs
  crates/napi/src/compiler.rs
  crates/wasm/src/lib.rs
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

fix: add MDX component markers for Astro Content Collections
  crates/napi/src/codegen.rs
  crates/wasm/src/lib.rs
Due: cargo fmt --

style: format code
  crates/wasm/src/lib.rs
Due: cargo fmt --

chore: remove trivial tests covered by withastro-docs
  crates/core/tests/insta_tests.rs
  crates/core/tests/integration_tests.rs
  crates/core/tests/snapshots/insta_tests__directive_note.snap
  crates/core/tests/snapshots/insta_tests__markdown_basic.snap
Due: cargo fmt --

ci: add e2e-withastro-docs as required quality gate
  .github/workflows/ci.yml
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Add Claude Code GitHub Workflow (#86)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

fix: add MDX component markers for Astro Content Collections (#83)
  crates/napi/src/codegen.rs
  crates/wasm/src/lib.rs
Due: cargo fmt --

chore: remove trivial tests covered by withastro-docs (#84)
  crates/core/tests/insta_tests.rs
  crates/core/tests/integration_tests.rs
  crates/core/tests/snapshots/insta_tests__directive_note.snap
  crates/core/tests/snapshots/insta_tests__markdown_basic.snap
Due: cargo fmt --
