Repository knj-labo/mdx-hybrid: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, cargo fmt --

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json}": [
    "biome check --apply --no-errors-on-unmatched"
  ],
  "*.{md,mdx}": [
    "biome format --write --no-errors-on-unmatched"
  ],
  "*.rs": [
    "cargo fmt --"
  ]
}

chore: apply formatting
  crates/wasm/tests/render_jsx.rs
Due: cargo fmt --

fix(core): skip lowercase html tags in multipass
  crates/core/src/renderer/multipass.rs
Due: cargo fmt --

fix(core): restore component handler builder
  crates/core/src/renderer/streaming_rewriter.rs
  crates/core/src/transform/components.rs
Due: cargo fmt --

fix(core): add ComponentHandlers default
  crates/core/src/transform/components.rs
Due: cargo fmt --

chore: apply formatting
  crates/core/src/renderer/jsx.rs
Due: cargo fmt --

Add JSX component registry and plugin hooks (#67)
  crates/core/src/lib.rs
  crates/core/src/renderer/jsx.rs
  crates/core/src/renderer/jsx/components.rs
  crates/core/src/renderer/mod.rs
  crates/core/src/renderer/multipass.rs
  crates/core/src/renderer/streaming_rewriter.rs
  crates/core/src/transform/components.rs
  crates/core/tests/integration_tests.rs
  crates/napi/src/compiler.rs
  crates/napi/src/lib.rs
  crates/napi/src/types.rs
  crates/wasm/src/lib.rs
  crates/wasm/tests/render_jsx.rs
  crates/wasm/tests/stream_html.rs
  docs/specs/mf-171-jsx-renderer-api.md
Due: biome format --write --no-errors-on-unmatched, cargo fmt --

feat(core): stream multipass scan
  crates/core/src/renderer/jsx.rs
  crates/core/src/renderer/multipass.rs
Due: cargo fmt --

feat(core): stream multipass events
  crates/core/src/lib.rs
  crates/core/src/renderer/jsx.rs
  crates/core/src/renderer/jsx/components.rs
  crates/core/src/renderer/mod.rs
  crates/core/src/renderer/multipass.rs
  crates/core/tests/integration_tests.rs
  docs/specs/mf-170-markdown-to-jsx.md
  docs/specs/mf-171-jsx-renderer-api.md
Due: biome format --write --no-errors-on-unmatched, cargo fmt --

fix(core): preserve Steps wrapper in jsx stream
  crates/core/src/renderer/jsx.rs
  crates/core/src/renderer/jsx/components.rs
Due: cargo fmt --

Streaming multipass (#68)
  crates/core/src/lib.rs
  crates/core/src/renderer/jsx.rs
  crates/core/src/renderer/jsx/components.rs
  crates/core/src/renderer/mod.rs
  crates/core/src/renderer/multipass.rs
  crates/core/tests/integration_tests.rs
  docs/specs/mf-170-markdown-to-jsx.md
  docs/specs/mf-171-jsx-renderer-api.md
Due: biome format --write --no-errors-on-unmatched, cargo fmt --

fix(core): support deeply indented code fences and disable JSX in code blocks
  crates/core/src/renderer/jsx.rs
  crates/core/src/renderer/multipass.rs
Due: cargo fmt --

fix(core): restore steps wrapper in jsx stream
  crates/core/src/renderer/jsx.rs
  crates/core/src/renderer/jsx/components.rs
Due: cargo fmt --

Fix steps streaming (#69)
  crates/core/src/renderer/jsx.rs
  crates/core/src/renderer/jsx/components.rs
  crates/core/src/renderer/multipass.rs
Due: cargo fmt --

fix(vite-plugin): narrow inline component bypass
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched

fix(vite-plugin): ignore inline component mentions
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched

refactor: begin functional pipeline extraction (Phase 1)
  packages/vite-plugin-markflow/package.json
  packages/vite-plugin-markflow/src/index.js
  packages/vite-plugin-markflow/src/pipeline/pipe.js
  packages/vite-plugin-markflow/src/pipeline/pipe.test.js
  packages/vite-plugin-markflow/src/transforms/inject-components.js
  packages/vite-plugin-markflow/src/transforms/inject-components.test.js
  packages/vite-plugin-markflow/src/utils/config.js
  packages/vite-plugin-markflow/src/utils/config.test.js
  packages/vite-plugin-markflow/src/utils/imports.js
  packages/vite-plugin-markflow/src/utils/imports.test.js
Due: biome check --apply --no-errors-on-unmatched

refactor: extract remaining transforms and utilities (Phase 1)
  packages/vite-plugin-markflow/src/transforms/blocks-to-jsx.js
  packages/vite-plugin-markflow/src/transforms/blocks-to-jsx.test.js
  packages/vite-plugin-markflow/src/transforms/expressive-code.js
  packages/vite-plugin-markflow/src/transforms/expressive-code.test.js
  packages/vite-plugin-markflow/src/transforms/shiki.js
  packages/vite-plugin-markflow/src/transforms/shiki.test.js
  packages/vite-plugin-markflow/src/utils/paths.js
  packages/vite-plugin-markflow/src/utils/paths.test.js
  packages/vite-plugin-markflow/src/utils/validation.js
  packages/vite-plugin-markflow/src/utils/validation.test.js
Due: biome check --apply --no-errors-on-unmatched

fix: suppress parse5 end-tag-mismatch warnings
  packages/vite-plugin-markflow/src/transforms/shiki.js
Due: biome check --apply --no-errors-on-unmatched

delete test files
  multilingual-analysis.md
  test-directive-jsx-coexist.mjs
  test-mdx-jsx.mjs
  test-parse-blocks.mjs
  test-preprocess-debug.mjs
  test-vite-plugin-mdast.mjs
  test-xss-debug.mjs
Due: biome format --write --no-errors-on-unmatched

feat: add InlineCode event and improve JSX scanning
  crates/core/src/renderer/jsx.rs
  crates/core/src/renderer/multipass.rs
  packages/vite-plugin-markflow/src/utils/validation.js
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

feat: add parse diagnostics and eliminate JavaScript fallback checks
  crates/core/src/error.rs
  crates/core/src/lib.rs
  crates/core/src/renderer/jsx.rs
  crates/core/src/renderer/mod.rs
  crates/core/src/renderer/multipass.rs
  crates/napi/src/compiler.rs
  crates/napi/src/types.rs
  packages/vite-plugin-markflow/src/index.js
  packages/vite-plugin-markflow/src/utils/validation.js
  packages/vite-plugin-markflow/src/utils/validation.test.js
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

wip
  crates/core/src/renderer/jsx/components.rs
  crates/core/tests/integration_tests.rs
Due: cargo fmt --

feat: fix cargo
  Cargo.toml
Due: none

chore: remove benchmarks
  benchmarks/stream_bench.rs
Due: cargo fmt --

chore: remove docs
  BLOCK_ARCHITECTURE_INTEGRATION.md
Due: biome format --write --no-errors-on-unmatched

feat: add code sample component registry
  crates/core/src/renderer/jsx.rs
  crates/core/src/renderer/jsx/components.rs
  crates/core/src/renderer/multipass.rs
  crates/core/tests/integration_tests.rs
  crates/napi/src/types.rs
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

chore: apply formatting
  crates/core/src/error.rs
  crates/core/src/renderer/jsx.rs
  crates/core/src/renderer/multipass.rs
  crates/core/tests/integration_tests.rs
Due: cargo fmt --

docs: add decision log entries #250-#252 for single pipeline strategy
  docs/decisions/0001-lean-architecture.md
Due: biome format --write --no-errors-on-unmatched

refactor: switch compiler.rs to mdast pipeline exclusively
  crates/core/src/lib.rs
  crates/core/src/renderer/mod.rs
  crates/napi/src/compiler.rs
Due: cargo fmt --

refactor: deprecate CompilerConfig.pipeline field
  crates/napi/src/types.rs
Due: cargo fmt --

refactor: delete legacy multipass and jsx pipelines
  crates/core/src/lib.rs
  crates/core/src/renderer/jsx.rs
  crates/core/src/renderer/jsx/components.rs
  crates/core/src/renderer/jsx/handlers.rs
  crates/core/src/renderer/mod.rs
  crates/core/src/renderer/multipass.rs
Due: cargo fmt --

refactor: fix tests and remove jsx-specific API (Phases 7-8)
  crates/core/tests/integration_tests.rs
  crates/napi/src/compiler.rs
  crates/napi/src/lib.rs
  crates/napi/src/types.rs
Due: cargo fmt --

refactor: fix WASM bindings and complete cleanup (Phase 9)
  crates/wasm/src/lib.rs
  crates/wasm/tests/render_jsx.rs
Due: cargo fmt --

fix: CI warnings - suppress deprecation and dead code warnings
  crates/napi/src/compiler.rs
  crates/napi/src/headings.rs
  crates/napi/src/lib.rs
  crates/napi/src/types.rs
Due: cargo fmt --

fix: preserve list structure when rendering JSX components
  crates/core/src/renderer/mdast.rs
  crates/napi/src/compiler.rs
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

refactor: remove deprecated NAPI types (Phase 1 cleanup)
  crates/napi/src/lib.rs
  crates/napi/src/types.rs
  docs/decisions/0001-lean-architecture.md
Due: biome format --write --no-errors-on-unmatched, cargo fmt --

Refactor/functional pipeline phase 1 continued (#70)
  BLOCK_ARCHITECTURE_INTEGRATION.md
  Cargo.toml
  benchmarks/stream_bench.rs
  crates/core/src/error.rs
  crates/core/src/lib.rs
  crates/core/src/renderer/jsx.rs
  crates/core/src/renderer/jsx/components.rs
  crates/core/src/renderer/jsx/handlers.rs
  crates/core/src/renderer/mod.rs
  crates/core/src/renderer/multipass.rs
  crates/core/tests/integration_tests.rs
  crates/napi/src/compiler.rs
  crates/napi/src/headings.rs
  crates/napi/src/lib.rs
  crates/napi/src/types.rs
  crates/wasm/src/lib.rs
  crates/wasm/tests/render_jsx.rs
  docs/decisions/0001-lean-architecture.md
  multilingual-analysis.md
  packages/vite-plugin-markflow/src/index.js
  packages/vite-plugin-markflow/src/transforms/blocks-to-jsx.js
  packages/vite-plugin-markflow/src/transforms/blocks-to-jsx.test.js
  packages/vite-plugin-markflow/src/transforms/expressive-code.js
  packages/vite-plugin-markflow/src/transforms/expressive-code.test.js
  packages/vite-plugin-markflow/src/transforms/shiki.js
  packages/vite-plugin-markflow/src/transforms/shiki.test.js
  packages/vite-plugin-markflow/src/utils/paths.js
  packages/vite-plugin-markflow/src/utils/paths.test.js
  packages/vite-plugin-markflow/src/utils/validation.js
  packages/vite-plugin-markflow/src/utils/validation.test.js
  test-directive-jsx-coexist.mjs
  test-mdx-jsx.mjs
  test-parse-blocks.mjs
  test-preprocess-debug.mjs
  test-vite-plugin-mdast.mjs
  test-xss-debug.mjs
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, cargo fmt --

feat: add AST-level component transformers for Starlight compatibility
  crates/core/src/renderer/mdast.rs
  crates/core/src/transform/ast_components.rs
  crates/core/src/transform/mod.rs
Due: cargo fmt --
