Repository knj-labo/mdx-hybrid: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, cargo fmt --

Update crates/napi/src/lib.rs
  crates/napi/src/lib.rs
Due: cargo fmt --

wip
  Backlog.md
  ROADMAP.md
  crates/core/src/event.rs
  crates/core/src/html_renderer.rs
  crates/core/src/jsx_renderer.rs
  crates/core/src/lib.rs
  crates/core/src/markdown_adapter.rs
  crates/napi/src/lib.rs
  crates/wasm/src/lib.rs
  docs/specs/mf-170-markdown-to-jsx.md
Due: biome format --write --no-errors-on-unmatched, cargo fmt --

cargo fmt
  crates/core/src/jsx_renderer.rs
  crates/core/src/lib.rs
Due: cargo fmt --

cargo fmt
  crates/core/src/code_fence.rs
  crates/napi/src/lib.rs
Due: cargo fmt --

feat: fix clippy
  crates/core/src/code_fence.rs
  crates/core/src/jsx_renderer.rs
  crates/napi/src/lib.rs
Due: cargo fmt --

cargo fmt
  crates/core/src/code_fence.rs
  crates/core/src/jsx_renderer.rs
  crates/napi/src/lib.rs
Due: cargo fmt --

chore: add comments
  crates/napi/src/lib.rs
Due: cargo fmt --

feat: write it down with markdown to jsx
  docs/specs/mf-170-markdown-to-jsx.md
Due: biome format --write --no-errors-on-unmatched

feat: render to jsx
  Backlog.md
  crates/core/src/event.rs
  crates/core/src/html_renderer.rs
  crates/core/src/jsx_renderer.rs
  crates/core/src/lib.rs
  crates/core/src/markdown_adapter.rs
  crates/napi/src/lib.rs
  crates/wasm/src/lib.rs
Due: biome format --write --no-errors-on-unmatched, cargo fmt --

chore: check off the mark
  ROADMAP.md
Due: biome format --write --no-errors-on-unmatched

feat: update render to jsx
  crates/core/src/code_fence.rs
  crates/core/src/jsx_renderer.rs
  crates/wasm/src/lib.rs
Due: cargo fmt --

cargo clippy
  crates/core/src/code_fence.rs
Due: cargo fmt --

feat: cargo clippy
  crates/core/src/code_fence.rs
Due: cargo fmt --

markflow
  Backlog.md
  docs/specs/mf-171-jsx-renderer-api.md
  docs/specs/mf-172-jsx-layout-integration.md
  docs/specs/mf-173-astro-plugin-harness.md
  docs/specs/mf-174-hoist-tests.md
  docs/specs/mf-175-jsx-attr-escaping.md
  docs/specs/mf-176-image-policy.md
  docs/specs/mf-177-math-compat.md
  docs/specs/mf-178-frontmatter-types.md
  docs/specs/mf-179-diagnostics.md
  docs/specs/mf-180-jsx-import-order.md
  docs/specs/mf-181-raw-html-policy.md
  docs/specs/mf-182-table-alignment.md
  docs/specs/mf-183-cli-tooling.md
  docs/specs/mf-184-error-recovery.md
Due: biome format --write --no-errors-on-unmatched

feat: implement directive and auto-import
  crates/core/src/directives.rs
  crates/core/src/jsx_renderer.rs
  crates/core/src/lib.rs
  crates/napi/src/lib.rs
  crates/napi/tests/auto_import.test.js
  crates/napi/tests/parseWithOptions.test.js
  crates/napi/tests/parse_with_options.test.js
  docs/decisions/2025-12-19-directive-aside.md
  fixtures/integration/astro-harness/README.md
  fixtures/integration/astro-harness/tests/directives.aside.test.mjs
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, cargo fmt --

chore: run clippy
  ROADMAP.md
  crates/core/src/directives.rs
Due: biome format --write --no-errors-on-unmatched, cargo fmt --

Update docs/decisions/2025-12-19-directive-aside.md
  docs/decisions/2025-12-19-directive-aside.md
Due: biome format --write --no-errors-on-unmatched

Update crates/core/src/directives.rs
  crates/core/src/directives.rs
Due: cargo fmt --

feat: implement directive
  ROADMAP.md
  crates/core/src/lib.rs
  crates/core/src/markdown_adapter.rs
  crates/core/src/slug.rs
  crates/napi/src/lib.rs
  docs/decisions/2025-12-19-directive-aside.md
Due: biome format --write --no-errors-on-unmatched, cargo fmt --

feat: heading slug generation
  crates/core/src/slug.rs
Due: cargo fmt --

feat: apply formating
  crates/core/src/slug.rs
Due: cargo fmt --

feat: refactor
  crates/core/src/directives.rs
  crates/core/src/jsx_renderer.rs
  crates/core/src/lib.rs
  crates/napi/src/lib.rs
Due: cargo fmt --

feat: update directives
  crates/core/src/directives.rs
  crates/core/src/jsx_renderer.rs
  crates/core/src/lib.rs
Due: cargo fmt --

feat: lib.rs
  crates/core/src/lib.rs
  crates/napi/src/lib.rs
Due: cargo fmt --

feat: refactor adaptor
  Cargo.lock
  crates/core/Cargo.toml
  crates/core/src/lib.rs
  crates/core/src/transform/directive_adapter.rs
  crates/core/src/transform/hoist_adapter.rs
  crates/core/src/transform/mod.rs
  crates/core/tests/insta_tests.rs
  crates/core/tests/snapshots/insta_tests__directive_html_attr.snap
  crates/core/tests/snapshots/insta_tests__directive_inline_code.snap
  crates/core/tests/snapshots/insta_tests__directive_note.snap
  crates/core/tests/snapshots/insta_tests__markdown_basic.snap
  crates/core/tests/snapshots/insta_tests__mdx_import_hoist.snap
  crates/napi/src/lib.rs
Due: cargo fmt --

refactor: decouple directives and structure imports
  crates/core/src/adapter.rs
  crates/core/src/lib.rs
  crates/core/src/parser/markdown_adapter.rs
  crates/core/src/parser/mod.rs
  crates/core/src/parser/parse_config.rs
  crates/core/src/renderer/html_renderer.rs
  crates/core/src/renderer/jsx_renderer.rs
  crates/core/src/renderer/mod.rs
  crates/core/src/renderer/streaming_rewriter.rs
  crates/core/src/transform/code_fence.rs
  crates/core/src/transform/directive_adapter.rs
  crates/core/src/transform/directives.rs
  crates/core/src/transform/mod.rs
  crates/napi/src/lib.rs
  crates/wasm/src/lib.rs
Due: cargo fmt --

chore: cargo fmt
  crates/napi/src/lib.rs
Due: cargo fmt --

chore: satisfy clippy warnings
  crates/core/src/transform/directives.rs
Due: cargo fmt --

feat: add astro harness
  ROADMAP.md
  fixtures/integration/astro-harness/src/components/CardGrid.astro
  fixtures/integration/astro-harness/src/content/docs/getting-started.mdx
  fixtures/integration/astro-harness/src/layouts/DocsLayout.astro
Due: biome format --write --no-errors-on-unmatched

chore: update docs
  docs/decisions/0001-lean-architecture.md
  docs/development/guidelines-ja.md
  docs/development/guidelines.md
  docs/development/spec-driven-codex.md
Due: biome format --write --no-errors-on-unmatched

feat: add workspace
  .gitignore
  AGENTS.md
  Cargo.toml
  crates/core/Cargo.toml
  crates/napi/Cargo.toml
  crates/wasm/Cargo.toml
Due: biome format --write --no-errors-on-unmatched

feat: lean architecture
  crates/core/src/lib.rs
  crates/core/src/renderer/streaming_rewriter.rs
  crates/napi/src/lib.rs
  crates/wasm/src/lib.rs
  docs/decisions/0001-lean-architecture.md
Due: biome format --write --no-errors-on-unmatched, cargo fmt --

feat: update documents
  .gitignore
  Backlog.md
  ROADMAP.md
  docs/README.md
  docs/architecture/overview.md
  docs/decisions/0001-lean-architecture.md
  docs/specs/README.md
  docs/specs/mf-140-core-engine.md
  pnpm-workspace.yaml
  samples/large.md
  scripts/README.md
  web/astro.config.mjs
  web/package.json
  web/src/content/config.ts
  web/src/pages/index.astro
  web/tsconfig.json
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat: update ci yml
  .github/workflows/ci.yml
  docs/README.md
  docs/ci/ci-steps.md
  docs/decisions/0001-lean-architecture.md
  fixtures/README.md
  pnpm-lock.yaml
  scripts/README.md
  scripts/check-backlog.mjs
  web/astro.config.mjs
  web/src/content/docs/hello-world.md
Due: biome format --write --no-errors-on-unmatched

lean-architecture
  docs/decisions/0001-lean-architecture.md
  web/README.md
Due: biome format --write --no-errors-on-unmatched

feat: update lib
  crates/core/src/lib.rs
Due: cargo fmt --

feat: fix clippy
  crates/core/src/lib.rs
  crates/wasm/src/lib.rs
  crates/wasm/tests/stream_html.rs
  docs/decisions/0001-lean-architecture.md
Due: biome format --write --no-errors-on-unmatched, cargo fmt --

feat: update ci
  crates/napi/README.md
  docs/ci/ci-steps.md
  docs/decisions/0001-lean-architecture.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome format --write --no-errors-on-unmatched

Path conditions:
  biome check --apply --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,json}
  biome format --write --no-errors-on-unmatched: any of: *.{md,mdx}
  cargo fmt --: any of: *.rs
