Repository knj-labo/mdx-hybrid: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, cargo fmt --

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json}": [
    "biome check --apply --no-errors-on-unmatched"
  ],
  "*.{md,mdx}": [
    "biome format --write --no-errors-on-unmatched"
  ],
  "*.rs": [
    "cargo fmt --"
  ]
}

fix(ci): add setup script to clone withastro-docs repo
  .github/workflows/ci.yml
  scripts/setup-withastro-docs.sh
Due: none

fix(ci): add workspace config and overlay for withastro-docs E2E
  .github/workflows/ci.yml
  fixtures/integration/withastro-docs/overlay/astro.config.ts
  fixtures/integration/withastro-docs/overlay/package.json
  pnpm-workspace.yaml
  scripts/setup-withastro-docs.sh
Due: biome check --apply --no-errors-on-unmatched

fix(ci): use --no-frozen-lockfile for dynamically cloned repo
  .github/workflows/ci.yml
Due: none

fix(ci): increase E2E timeout to 30 minutes
  .github/workflows/ci.yml
Due: none

ci: add e2e-withastro-docs as required quality gate (#85)
  .github/workflows/ci.yml
  fixtures/integration/withastro-docs/overlay/astro.config.ts
  fixtures/integration/withastro-docs/overlay/package.json
  pnpm-workspace.yaml
  scripts/setup-withastro-docs.sh
Due: biome check --apply --no-errors-on-unmatched

fix: improve Starlight component compatibility
  crates/core/src/renderer/mdast.rs
  crates/napi/src/compiler.rs
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

refactor: remove Starlight CSS dependencies
  crates/core/src/renderer/mdast.rs
  crates/core/src/renderer/starlight_components.css
  crates/napi/src/compiler.rs
  crates/napi/src/lib.rs
  crates/napi/src/types.rs
  crates/wasm/src/lib.rs
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

fix: restore CSS layer order fix for dev mode
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched

fix: use Head component override for CSS layer order in dev mode
  fixtures/integration/withastro-docs/overlay/astro.config.ts
  fixtures/integration/withastro-docs/overlay/src/components/starlight/Head.astro
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched

fix: remove Fragment slot validation (now supported by renderer)
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched

fix: fallback to Astro MDX for nested lists inside Steps
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched

fix: extend Steps validation to catch continuation paragraphs
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched

fix: relax Steps validation to 3+ space indent
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched

fix: improve Starlight component compatibility (#87)
  crates/core/src/renderer/mdast.rs
  crates/core/src/renderer/starlight_components.css
  crates/napi/src/compiler.rs
  crates/napi/src/lib.rs
  crates/napi/src/types.rs
  crates/wasm/src/lib.rs
  fixtures/integration/withastro-docs/overlay/astro.config.ts
  fixtures/integration/withastro-docs/overlay/src/components/starlight/Head.astro
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

refactor(core): extract render_list and render_list_item functions
  crates/core/src/renderer/mdast.rs
Due: cargo fmt --

refactor(core): extract render_list and render_list_item functions (#88)
  crates/core/src/renderer/mdast.rs
Due: cargo fmt --

fix(parser): preserve relative indentation in JSX for nested markdown
  crates/core/src/parser/markdown_adapter.rs
  crates/core/tests/snapshots/insta_tests__mdx_struct_nested.snap
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

fix(parser): preserve indentation in JSX for nested markdown structures (#89)
  crates/core/src/parser/markdown_adapter.rs
  crates/core/tests/snapshots/insta_tests__mdx_struct_nested.snap
Due: cargo fmt --

fix(parser): disable indented code blocks in MDX mode
  crates/core/src/parser/markdown_adapter.rs
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

test: update snapshots for preserved JSX indentation
  crates/core/tests/snapshots/components_snapshot__aside_mdx_disabled.snap
  crates/core/tests/snapshots/components_snapshot__aside_mdx_enabled.snap
  crates/core/tests/snapshots/components_snapshot__filetree_disabled.snap
  crates/core/tests/snapshots/components_snapshot__filetree_enabled.snap
  crates/core/tests/snapshots/components_snapshot__steps_disabled.snap
  crates/core/tests/snapshots/components_snapshot__steps_enabled.snap
  crates/core/tests/snapshots/components_snapshot__tabs_disabled.snap
  crates/core/tests/snapshots/components_snapshot__tabs_enabled.snap
  crates/core/tests/snapshots/insta_tests__mdx_struct_nested.snap
  crates/core/tests/snapshots/insta_tests__mdx_struct_simple.snap
Due: none

fix(parser): add indentation to non-indented content after blank lines in Steps
  crates/core/src/parser/markdown_adapter.rs
  crates/core/tests/snapshots/insta_tests__mdx_struct_nested.snap
Due: cargo fmt --

fix(parser): disable indented code blocks in MDX mode (#90)
  crates/core/src/parser/markdown_adapter.rs
  crates/core/tests/snapshots/components_snapshot__aside_mdx_disabled.snap
  crates/core/tests/snapshots/components_snapshot__aside_mdx_enabled.snap
  crates/core/tests/snapshots/components_snapshot__filetree_disabled.snap
  crates/core/tests/snapshots/components_snapshot__filetree_enabled.snap
  crates/core/tests/snapshots/components_snapshot__steps_disabled.snap
  crates/core/tests/snapshots/components_snapshot__steps_enabled.snap
  crates/core/tests/snapshots/components_snapshot__tabs_disabled.snap
  crates/core/tests/snapshots/components_snapshot__tabs_enabled.snap
  crates/core/tests/snapshots/insta_tests__mdx_struct_nested.snap
  crates/core/tests/snapshots/insta_tests__mdx_struct_simple.snap
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

fix(parser): auto-indent directive syntax inside Steps
  crates/core/src/parser/markdown_adapter.rs
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

fix(mdast): preserve indentation when preprocessing directives
  crates/core/src/renderer/mdast.rs
Due: cargo fmt --

fix(mdast): use container tags for directive preprocessing
  crates/core/src/renderer/mdast.rs
Due: cargo fmt --

fix(parser): auto-indent directive syntax inside Steps (#91)
  crates/core/src/parser/markdown_adapter.rs
  crates/core/src/renderer/mdast.rs
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

fix(plugin): update regex to match code blocks with attributes
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched

fix: directive and task list rendering issues
  crates/core/src/renderer/mdast.rs
Due: cargo fmt --

fix(e2e): disable ExpressiveCode to avoid config serialization error
  fixtures/integration/withastro-docs/overlay/astro.config.ts
Due: biome check --apply --no-errors-on-unmatched

fix(plugin): update regex to match code blocks with attributes (#92)
  crates/core/src/renderer/mdast.rs
  fixtures/integration/withastro-docs/overlay/astro.config.ts
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

fix(renderer): render components inline when inside Steps
  crates/core/src/renderer/mdast.rs
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

fix(renderer): render components inline when inside Steps (#103)
  crates/core/src/renderer/mdast.rs
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

fix(parser): preserve FileTree structure inside Steps
  crates/core/src/parser/markdown_adapter.rs
Due: cargo fmt --
