Repository knj-labo/mdx-hybrid: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, cargo fmt --

feat: fix ci path argument
  .github/workflows/ci.yml
Due: none

fix doc
  docs/decisions/0001-lean-architecture.md
Due: biome format --write --no-errors-on-unmatched

feat: add astro doc components
  crates/core/src/lib.rs
  crates/core/src/renderer/streaming_rewriter.rs
  crates/core/src/transform/components.rs
  crates/core/src/transform/mod.rs
  crates/core/src/transform/smartypants.rs
  crates/core/tests/components_snapshot.rs
  crates/core/tests/snapshots/components_snapshot__filetree_disabled.snap
  crates/core/tests/snapshots/components_snapshot__filetree_enabled.snap
  crates/core/tests/snapshots/components_snapshot__steps_disabled.snap
  crates/core/tests/snapshots/components_snapshot__steps_enabled.snap
  crates/core/tests/snapshots/components_snapshot__tabs_disabled.snap
  crates/core/tests/snapshots/components_snapshot__tabs_enabled.snap
  crates/napi/src/lib.rs
  crates/wasm/src/lib.rs
  crates/wasm/tests/stream_html.rs
  docs/ci/ci-steps.md
  docs/decisions/0001-lean-architecture.md
  docs/specs/mf-190-astro-docs-parity.md
  fixtures/core/components/filetree.md
  fixtures/core/components/steps.md
  fixtures/core/components/tabs.md
  package.json
  pnpm-lock.yaml
  scripts/compare-astro-harness.mjs
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, cargo fmt --

chore: apply formatting
  crates/core/src/lib.rs
  crates/core/src/renderer/streaming_rewriter.rs
  crates/core/src/transform/components.rs
  crates/core/src/transform/mod.rs
  crates/core/src/transform/smartypants.rs
  crates/wasm/src/lib.rs
Due: cargo fmt --

feat: add aside write
  crates/core/src/lib.rs
  crates/core/src/transform/components.rs
  crates/core/src/transform/directives.rs
  crates/core/src/transform/smartypants.rs
  crates/core/tests/components_snapshot.rs
  crates/core/tests/snapshots/components_snapshot__aside_directive_disabled.snap
  crates/core/tests/snapshots/components_snapshot__aside_directive_enabled.snap
  crates/core/tests/snapshots/components_snapshot__aside_mdx_disabled.snap
  crates/core/tests/snapshots/components_snapshot__aside_mdx_enabled.snap
  docs/decisions/0001-lean-architecture.md
  fixtures/core/components/aside_directive.md
  fixtures/core/components/aside_mdx.md
Due: biome format --write --no-errors-on-unmatched, cargo fmt --

feat: apply format
  crates/core/src/transform/components.rs
  crates/core/src/transform/directives.rs
Due: cargo fmt --

fix: snapshot
  crates/core/tests/snapshots/insta_tests__directive_note.snap
Due: none

feat: update ci to build napi
  .github/workflows/ci.yml
  docs/decisions/0001-lean-architecture.md
  docs/specs/mf-190-astro-docs-parity.md
Due: biome format --write --no-errors-on-unmatched

feat: build it first
  scripts/compare-astro-harness.mjs
Due: none

chore: delete docs
  .github/workflows/ci.yml
  README.md
  benchmarks/astro-harness.md
  docs/ci/ci-steps.md
  docs/decisions/0001-lean-architecture.md
  docs/specs/mf-160-withastro-docs-harness.md
  docs/specs/mf-173-astro-plugin-harness.md
  docs/specs/mf-190-astro-docs-parity.md
  fixtures/README.md
  fixtures/integration/astro-harness/README.md
  fixtures/integration/astro-harness/content/docs/performance.mdx
  fixtures/integration/withastro-docs/README.md
  scripts/README.md
  scripts/compare-astro-harness.mjs
  scripts/run-astro-harness.mjs
Due: biome format --write --no-errors-on-unmatched

feat: add harness
  .github/workflows/ci.yml
  docs/ci/ci-steps.md
  docs/decisions/0001-lean-architecture.md
  docs/specs/mf-150-astro-mdx-napi.md
  docs/specs/mf-160-withastro-docs-harness.md
  docs/specs/mf-173-astro-plugin-harness.md
  docs/specs/mf-190-astro-docs-parity.md
  scripts/README.md
  scripts/compare-astro-harness.mjs
  scripts/run-astro-harness.mjs
Due: biome format --write --no-errors-on-unmatched

docs: add semantic harness diff, mdx/slug snapshots, class checklist
  crates/core/tests/insta_tests.rs
  crates/core/tests/snapshots/insta_tests__mdx_struct_expr.snap
  crates/core/tests/snapshots/insta_tests__mdx_struct_nested.snap
  crates/core/tests/snapshots/insta_tests__mdx_struct_simple.snap
  crates/core/tests/snapshots/insta_tests__slug_duplicates.snap
  docs/ci/ci-steps.md
  docs/decisions/0001-lean-architecture.md
  docs/specs/mf-190-astro-docs-parity.md
  fixtures/core/markdown/slug_duplicates.md
  fixtures/core/mdx/mdx_struct_expr.mdx
  fixtures/core/mdx/mdx_struct_nested.mdx
  fixtures/core/mdx/mdx_struct_simple.mdx
  scripts/README.md
  scripts/compare-astro-harness.mjs
Due: biome format --write --no-errors-on-unmatched, cargo fmt --

chore: set harness to time-only in CI
  .github/workflows/ci.yml
  .gitignore
  docs/decisions/0001-lean-architecture.md
  docs/specs/mf-190-astro-docs-parity.md
  scripts/README.md
Due: biome format --write --no-errors-on-unmatched

feat: add content
  fixtures/integration/astro-harness/src/content.config.ts
Due: biome check --apply --no-errors-on-unmatched

feat: update astro
  fixtures/integration/astro-harness/package.json
  fixtures/integration/astro-harness/plugins/markflow-content-plugin.mjs
  fixtures/integration/astro-harness/pnpm-lock.yaml
  scripts/compare-astro-harness.mjs
Due: biome check --apply --no-errors-on-unmatched

feat: add ast compare tool
  docs/decisions/0001-lean-architecture.md
  docs/specs/mf-190-astro-docs-parity.md
  package.json
  pnpm-lock.yaml
  scripts/README.md
  scripts/ast-compare/compare.mjs
  scripts/ast-compare/from-markflow.mjs
  scripts/ast-compare/from-unified.mjs
  scripts/ast-compare/run.mjs
  scripts/ast-compare/schema.mjs
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat: success build
  crates/core/src/parser/markdown_adapter.rs
  crates/napi/src/lib.rs
  docs/decisions/0001-lean-architecture.md
Due: biome format --write --no-errors-on-unmatched, cargo fmt --

refactor(core): coreエンジンとエラー処理をモジュール化
  .DS_Store
  crates/core/src/engine.rs
  crates/core/src/error.rs
  crates/core/src/lib.rs
  crates/core/tests/integration_tests.rs
  crates/core/tests/snapshots/components_snapshot__aside_mdx_disabled.snap
  crates/core/tests/snapshots/components_snapshot__aside_mdx_enabled.snap
  crates/core/tests/snapshots/components_snapshot__filetree_disabled.snap
  crates/core/tests/snapshots/components_snapshot__filetree_enabled.snap
  crates/core/tests/snapshots/components_snapshot__steps_disabled.snap
  crates/core/tests/snapshots/components_snapshot__steps_enabled.snap
  crates/core/tests/snapshots/components_snapshot__tabs_disabled.snap
  crates/core/tests/snapshots/components_snapshot__tabs_enabled.snap
  crates/core/tests/snapshots/insta_tests__mdx_struct_expr.snap
  crates/core/tests/snapshots/insta_tests__mdx_struct_nested.snap
  crates/core/tests/snapshots/insta_tests__mdx_struct_simple.snap
  tmp/astro-components.baseline.head.html
  tmp/astro-components.baseline.html
  tmp/astro-components.baseline.main.html
  tmp/astro-components.markflow.head.html
  tmp/astro-components.markflow.html
  tmp/astro-components.markflow.main.html
Due: cargo fmt --

chore: Ignore .DS_Store and tmp/ directory
  .DS_Store
  .gitignore
  tmp/astro-components.baseline.head.html
  tmp/astro-components.baseline.html
  tmp/astro-components.baseline.main.html
  tmp/astro-components.markflow.head.html
  tmp/astro-components.markflow.html
  tmp/astro-components.markflow.main.html
Due: none

refactor(napi): NAPIのコンパイラと型定義をモジュール化
  crates/napi/src/compiler.rs
  crates/napi/src/lib.rs
  crates/napi/src/types.rs
Due: cargo fmt --

chore(napi): Remove unused code and imports
  crates/napi/src/compiler.rs
  crates/napi/src/lib.rs
  crates/napi/src/types.rs
Due: cargo fmt --

fix(napi): リファクタリング後のコンパイルとスコープエラーを解決
  crates/napi/src/compiler.rs
  crates/napi/src/lib.rs
  crates/napi/src/types.rs
Due: cargo fmt --

fix(napi): Resolve E0425 compilation error and related warnings
  crates/napi/src/lib.rs
Due: cargo fmt --

feat: apply formatting
  crates/core/src/engine.rs
  crates/core/src/lib.rs
  crates/core/src/parser/markdown_adapter.rs
  crates/core/tests/integration_tests.rs
  crates/napi/src/compiler.rs
  crates/napi/src/lib.rs
Due: cargo fmt --

chore(clippy): execute clippy
  crates/core/src/parser/markdown_adapter.rs
Due: cargo fmt --

chore: apply format
  crates/core/src/parser/markdown_adapter.rs
Due: cargo fmt --

fix(napi): Remove unused import in test module
  crates/napi/src/lib.rs
Due: cargo fmt --

feat: apply format
  crates/napi/src/lib.rs
Due: cargo fmt --

Update crates/napi/src/compiler.rs
  crates/napi/src/compiler.rs
Due: cargo fmt --

Update crates/napi/src/lib.rs
  crates/napi/src/lib.rs
Due: cargo fmt --

docs(napi): FileType と collect_headings の不足しているドキュメントを追加
  crates/napi/src/lib.rs
Due: cargo fmt --

chore: switch to jsx output
  crates/core/src/renderer/jsx_renderer.rs
  crates/napi/src/compiler.rs
  crates/napi/src/lib.rs
  crates/napi/src/types.rs
  docs/decisions/2025-12-25-jsx-output.md
  docs/specs/mf-170-markdown-to-jsx.md
  docs/specs/mf-172-jsx-layout-integration.md
  docs/specs/mf-173-astro-plugin-harness.md
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, cargo fmt --

refactor(napi): split codegen and heading/utils helpers
  crates/napi/src/codegen.rs
  crates/napi/src/compiler.rs
  crates/napi/src/headings.rs
  crates/napi/src/lib.rs
  crates/napi/src/utils.rs
  docs/decisions/0001-lean-architecture.md
  docs/specs/mf-150-astro-mdx-napi.md
Due: biome format --write --no-errors-on-unmatched, cargo fmt --

chore(jsx): update renderer, plugin, and docs for JSX output
  crates/core/src/renderer/jsx_renderer.rs
  docs/decisions/2025-12-25-jsx-output.md
  docs/specs/mf-172-jsx-layout-integration.md
  docs/specs/mf-173-astro-plugin-harness.md
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, cargo fmt --

feat(steps): add steps child renderer
  crates/core/src/renderer/jsx_renderer.rs
Due: cargo fmt --

fix(steps): normalize steps children
  crates/core/src/renderer/jsx_renderer.rs
Due: cargo fmt --

feat(core): add multipass scanner and preserve fences
  crates/core/src/parser/markdown_adapter.rs
  crates/core/src/renderer/mod.rs
  crates/core/src/renderer/multipass.rs
Due: cargo fmt --

Path conditions:
  biome check --apply --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,json}
  biome format --write --no-errors-on-unmatched: any of: *.{md,mdx}
  cargo fmt --: any of: *.rs
