Repository knj-labo/mdx-hybrid: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, cargo fmt --

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json}": [
    "biome check --apply --no-errors-on-unmatched"
  ],
  "*.{md,mdx}": [
    "biome format --write --no-errors-on-unmatched"
  ],
  "*.rs": [
    "cargo fmt --"
  ]
}

fix(astro-markflow): fix typecheck null vs undefined for registry param
  packages/astro-markflow/src/transforms/blocks-to-jsx.ts
Due: biome check --apply --no-errors-on-unmatched

fix(astro-markflow): fix typecheck null vs undefined for registry param (#157)
  packages/astro-markflow/src/transforms/blocks-to-jsx.ts
Due: biome check --apply --no-errors-on-unmatched

feat: udpate jsx
  crates/core/src/transform/jsx_normalize.rs
Due: cargo fmt --

fix: improve code fence stripping and JSX normalize for tab-indented content
  crates/core/src/transform/jsx_normalize.rs
  packages/astro-markflow/src/utils/mdx-detection.ts
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

fix: resolve clippy collapsible_if warnings
  crates/core/src/transform/jsx_normalize.rs
Due: cargo fmt --

style: apply rustfmt formatting
  crates/core/src/transform/jsx_normalize.rs
Due: cargo fmt --

fix: allow list-indented fences in JSX normalization
  crates/core/src/transform/jsx_normalize.rs
Due: cargo fmt --

fix: improve code fence stripping and JSX normalize for tab-indented content (#158)
  crates/core/src/transform/jsx_normalize.rs
  packages/astro-markflow/src/utils/mdx-detection.ts
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

fix
  crates/core/src/transform/jsx_normalize.rs
  fixtures/integration/withastro-docs/harness-summary.json
  fixtures/integration/withastro-docs/overlay/astro.config.ts
  fixtures/integration/withastro-docs/overlay/ec.config.mjs
  packages/astro-markflow/src/transforms/index.ts
  packages/astro-markflow/src/utils/mdx-detection.test.ts
  packages/astro-markflow/src/utils/mdx-detection.ts
  packages/astro-markflow/src/vite-plugin.ts
  pnpm-lock.yaml
  scripts/compare-withastro-docs.mjs
  scripts/setup-withastro-docs.sh
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

wip
  packages/astro-markflow/src/utils/mdx-detection.ts
  scripts/compare-withastro-docs.mjs
Due: biome check --apply --no-errors-on-unmatched

fix: inject CSS layer order as inline style in dev mode
  fixtures/integration/withastro-docs/overlay/astro.config.ts
  fixtures/integration/withastro-docs/overlay/src/components/starlight/Head.astro
  packages/astro-markflow/src/constants.ts
  packages/astro-markflow/src/vite-plugin.ts
  scripts/setup-withastro-docs.sh
Due: biome check --apply --no-errors-on-unmatched

fix: skip <p> tags in tight list items for FileTree CSS compatibility
  crates/core/src/renderer/mdast/context.rs
  crates/core/src/renderer/mdast/render.rs
  crates/core/src/renderer/mdast/types.rs
Due: cargo fmt --

fix
  crates/core/src/renderer/mdast/context.rs
  crates/core/src/renderer/mdast/render.rs
  fixtures/integration/withastro-docs/harness-summary.json
  packages/astro-markflow/src/utils/mdx-detection.ts
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

fix: preserve FileTree component wrapper in render pipeline
  crates/core/src/codegen.rs
  crates/core/src/renderer/mdast/render.rs
Due: cargo fmt --

style: apply cargo fmt formatting
  crates/core/src/codegen.rs
  crates/core/src/renderer/mdast/context.rs
  crates/core/src/renderer/mdast/render.rs
Due: cargo fmt --

style: fix clippy unnecessary_map_or warning
  crates/core/src/renderer/mdast/context.rs
Due: cargo fmt --

style: match CI rustfmt formatting for is_some_and
  crates/core/src/renderer/mdast/context.rs
Due: cargo fmt --

fix: remove redundant normalizeFileTree pipeline step
  packages/astro-markflow/src/pipeline/orchestrator.ts
Due: biome check --apply --no-errors-on-unmatched

fix: inject CSS layer order as inline style in dev mode (#168)
  crates/core/src/codegen.rs
  crates/core/src/renderer/mdast/context.rs
  crates/core/src/renderer/mdast/render.rs
  crates/core/src/renderer/mdast/types.rs
  crates/core/src/transform/jsx_normalize.rs
  fixtures/integration/withastro-docs/harness-summary.json
  fixtures/integration/withastro-docs/overlay/astro.config.ts
  fixtures/integration/withastro-docs/overlay/ec.config.mjs
  fixtures/integration/withastro-docs/overlay/src/components/starlight/Head.astro
  packages/astro-markflow/src/constants.ts
  packages/astro-markflow/src/pipeline/orchestrator.ts
  packages/astro-markflow/src/transforms/index.ts
  packages/astro-markflow/src/utils/mdx-detection.test.ts
  packages/astro-markflow/src/utils/mdx-detection.ts
  packages/astro-markflow/src/vite-plugin.ts
  pnpm-lock.yaml
  scripts/compare-withastro-docs.mjs
  scripts/setup-withastro-docs.sh
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

fix
  crates/core/src/codegen.rs
  packages/astro-markflow/src/transforms/blocks-to-jsx.ts
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

fix: use span instead of div for Fragment slot wrappers
  crates/core/src/codegen.rs
  packages/astro-markflow/src/transforms/blocks-to-jsx.ts
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

fix: prevent false component matches in set:html content and remove Prism from astro library
  packages/astro-markflow/src/transforms/inject-components.test.ts
  packages/astro-markflow/src/transforms/inject-components.ts
  packages/markflow/src/registry/presets/astro.ts
Due: biome check --apply --no-errors-on-unmatched

fix (#169)
  crates/core/src/codegen.rs
  packages/astro-markflow/src/transforms/blocks-to-jsx.ts
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

fix: prevent false component matches in set:html content and remove Prism from astro library (#170)
  packages/astro-markflow/src/transforms/inject-components.test.ts
  packages/astro-markflow/src/transforms/inject-components.ts
  packages/markflow/src/registry/presets/astro.ts
Due: biome check --apply --no-errors-on-unmatched

refactor: pipeline improvements and migrate NAPI tests to Bun
  crates/napi/package.json
  crates/napi/tests/auto_import.test.ts
  crates/napi/tests/fixtures-parity.test.js
  crates/napi/tests/fixtures-parity.test.ts
  crates/napi/tests/parse.test.js
  crates/napi/tests/parse.test.ts
  crates/napi/tests/parseWithOptions.test.js
  crates/napi/tests/parseWithOptions.test.ts
  crates/napi/tests/parseWithStats.test.js
  crates/napi/tests/parseWithStats.test.ts
  crates/napi/tests/template_literal_bug.test.ts
  packages/astro-markflow/src/pipeline/orchestrator.ts
  packages/astro-markflow/src/transforms/blocks-to-jsx.test.ts
  packages/astro-markflow/src/transforms/blocks-to-jsx.ts
  packages/astro-markflow/src/transforms/index.ts
  packages/astro-markflow/src/transforms/normalize-filetree.ts
  packages/astro-markflow/src/transforms/normalize-steps.ts
  packages/astro-markflow/src/vite-plugin.ts
  packages/astro-markflow/src/vite-plugin/shiki-manager.ts
Due: biome check --apply --no-errors-on-unmatched

chore: update lockfile after removing AVA dependency
  pnpm-lock.yaml
Due: none

fix(ci): add Bun setup for NAPI tests after AVA→Bun migration
  .github/workflows/ci.yml
  .github/workflows/compatibility.yml
Due: none

refactor: pipeline improvements and migrate NAPI tests to Bun (#172)
  .github/workflows/ci.yml
  .github/workflows/compatibility.yml
  crates/napi/package.json
  crates/napi/tests/auto_import.test.ts
  crates/napi/tests/fixtures-parity.test.js
  crates/napi/tests/fixtures-parity.test.ts
  crates/napi/tests/parse.test.js
  crates/napi/tests/parse.test.ts
  crates/napi/tests/parseWithOptions.test.js
  crates/napi/tests/parseWithOptions.test.ts
  crates/napi/tests/parseWithStats.test.js
  crates/napi/tests/parseWithStats.test.ts
  crates/napi/tests/template_literal_bug.test.ts
  packages/astro-markflow/src/pipeline/orchestrator.ts
  packages/astro-markflow/src/transforms/blocks-to-jsx.test.ts
  packages/astro-markflow/src/transforms/blocks-to-jsx.ts
  packages/astro-markflow/src/transforms/index.ts
  packages/astro-markflow/src/transforms/normalize-filetree.ts
  packages/astro-markflow/src/transforms/normalize-steps.ts
  packages/astro-markflow/src/vite-plugin.ts
  packages/astro-markflow/src/vite-plugin/shiki-manager.ts
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched

perf(astro-markflow): reduce redundant file reads and preprocessing in vite plugin
  packages/astro-markflow/src/vite-plugin.ts
Due: biome check --apply --no-errors-on-unmatched

perf(astro-markflow): hoist normalizeStarlightComponents and createPipeline to plugin init
  packages/astro-markflow/src/vite-plugin.ts
Due: biome check --apply --no-errors-on-unmatched

perf(astro-markflow): cache regex, parallelize shiki, and reduce string scans in transforms
  packages/astro-markflow/src/transforms/expressive-code.ts
  packages/astro-markflow/src/transforms/inject-components.ts
  packages/astro-markflow/src/transforms/shiki.ts
  packages/astro-markflow/src/vite-plugin.ts
Due: biome check --apply --no-errors-on-unmatched

perf(astro-markflow): optimize component injection, parallelize set:html highlighting, and update bench script
  packages/astro-markflow/src/pipeline/orchestrator.ts
  packages/astro-markflow/src/transforms/inject-components.ts
  packages/astro-markflow/src/transforms/shiki.ts
  packages/astro-markflow/src/utils/imports.ts
  scripts/bench-pipeline.mjs
Due: biome check --apply --no-errors-on-unmatched

fix(astro-markflow): handle single-line getHeadings in RE_SCAN_NOISE regex
  packages/astro-markflow/src/transforms/inject-components.test.ts
  packages/astro-markflow/src/transforms/inject-components.ts
Due: biome check --apply --no-errors-on-unmatched

fix(astro-markflow): fix import scan regressions with block comments and CRLF
  packages/astro-markflow/src/transforms/inject-components.ts
  packages/astro-markflow/src/utils/imports.ts
Due: biome check --apply --no-errors-on-unmatched

fix(astro-markflow): use static import for writeFile in buildEnd hook
  packages/astro-markflow/src/vite-plugin.ts
Due: biome check --apply --no-errors-on-unmatched

wip
  crates/core/src/codegen.rs
  crates/core/src/error.rs
  fixtures/integration/withastro-docs/overlay/astro.config.ts
  fixtures/integration/withastro-docs/overlay/config/integrations/build-profiler.ts
  fixtures/integration/withastro-docs/overlay/config/integrations/route-profiler.ts
  fixtures/integration/withastro-docs/overlay/config/integrations/vite-build-tuner.ts
  fixtures/integration/withastro-docs/overlay/src/utils/component-profiler.ts
  packages/astro-markflow/src/vite-plugin.ts
  packages/astro-markflow/src/vite-plugin/jsx-module.ts
  packages/astro-markflow/src/vite-plugin/normalize-config.ts
  scripts/setup-withastro-docs.sh
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --
