Repository knj-labo/mdx-hybrid: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, cargo fmt --

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json}": [
    "biome check --apply --no-errors-on-unmatched"
  ],
  "*.{md,mdx}": [
    "biome format --write --no-errors-on-unmatched"
  ],
  "*.rs": [
    "cargo fmt --"
  ]
}

refactor(astro-markflow): remove unused code and deprecated transform functions
  packages/astro-markflow/src/transforms/index.test.ts
  packages/astro-markflow/src/transforms/index.ts
  packages/astro-markflow/src/utils/mdx-detection.ts
  packages/astro-markflow/src/vite-plugin.ts
Due: biome check --apply --no-errors-on-unmatched

Fix/starlight components auto allow imports (#152)
  crates/core/src/codegen.rs
  crates/core/src/transform/code_fence.rs
  crates/napi/src/codegen.rs
  crates/napi/src/compiler.rs
  crates/napi/src/types.rs
  crates/wasm/src/lib.rs
  packages/astro-markflow/src/index.ts
  packages/astro-markflow/src/presets/index.ts
  packages/astro-markflow/src/transforms/index.test.ts
  packages/astro-markflow/src/transforms/index.ts
  packages/astro-markflow/src/utils/mdx-detection.ts
  packages/astro-markflow/src/vite-plugin.ts
  packages/astro-markflow/src/vite-plugin/jsx-module.ts
  packages/astro-markflow/src/vite-plugin/types.ts
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

fix: use set:html to prevent HTML entity escaping issues in JSX
  crates/core/src/codegen.rs
  crates/napi/tests/auto_import.test.js
  packages/astro-markflow/src/transforms/blocks-to-jsx.ts
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

fix: update tests for escaped quotes in JSON string literals
  crates/napi/src/lib.rs
Due: cargo fmt --

fix: apply set:html in blocks_to_jsx_string instead of generate_astro_module
  crates/core/src/codegen.rs
  crates/core/src/renderer/mdast/mod.rs
  crates/napi/src/lib.rs
  crates/napi/tests/auto_import.test.js
  crates/napi/tests/parse.test.js
  crates/napi/tests/parseWithOptions.test.js
  fixtures/integration/astro-harness/tests/directives.aside.test.mjs
  fixtures/integration/withastro-docs/harness-summary.json
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

fix: use set:html to prevent HTML entity escaping issues in JSX (#153)
  crates/core/src/codegen.rs
  crates/core/src/renderer/mdast/mod.rs
  crates/napi/src/lib.rs
  crates/napi/tests/auto_import.test.js
  crates/napi/tests/parse.test.js
  crates/napi/tests/parseWithOptions.test.js
  fixtures/integration/astro-harness/tests/directives.aside.test.mjs
  fixtures/integration/withastro-docs/harness-summary.json
  packages/astro-markflow/src/transforms/blocks-to-jsx.ts
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

fix: use set:html to prevent HTML entity escaping issues in JSX
  crates/core/src/codegen.rs
  crates/napi/tests/auto_import.test.js
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

fix: handle quoted > in tags and mixed default+named imports
  packages/astro-markflow/src/transforms/blocks-to-jsx.ts
Due: biome check --apply --no-errors-on-unmatched

test: add blocks-to-jsx unit tests
  packages/astro-markflow/src/transforms/blocks-to-jsx.test.ts
Due: biome check --apply --no-errors-on-unmatched

refactor: improve shiki and expressive-code transforms
  packages/astro-markflow/src/transforms/expressive-code.test.ts
  packages/astro-markflow/src/transforms/expressive-code.ts
  packages/astro-markflow/src/transforms/shiki.test.ts
  packages/astro-markflow/src/transforms/shiki.ts
Due: biome check --apply --no-errors-on-unmatched

refactor: update transform pipeline exports
  packages/astro-markflow/src/transforms/index.test.ts
  packages/astro-markflow/src/transforms/index.ts
Due: biome check --apply --no-errors-on-unmatched

refactor: update vite plugin imports
  packages/astro-markflow/src/vite-plugin.ts
  packages/astro-markflow/src/vite-plugin/jsx-module.ts
Due: biome check --apply --no-errors-on-unmatched

feat: add extractImportStatements utility
  packages/astro-markflow/src/utils/imports.test.ts
  packages/astro-markflow/src/utils/imports.ts
Due: biome check --apply --no-errors-on-unmatched

fix: apply set:html in blocks_to_jsx_string instead of generate_astro_module
  crates/core/src/codegen.rs
  crates/napi/src/lib.rs
  crates/napi/tests/auto_import.test.js
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

fix: reduce fallback rate for withastro/docs
  crates/core/src/renderer/mdast/directives.rs
  crates/core/src/transform/jsx_normalize.rs
  packages/astro-markflow/src/presets/index.ts
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

refactor: improve Rust codegen and JSX normalization
  crates/core/src/codegen.rs
  crates/core/src/renderer/mdast/directives.rs
  crates/core/src/renderer/mdast/mod.rs
  crates/core/src/transform/jsx_normalize.rs
Due: cargo fmt --

fix: handle > inside JSX expression props in findTagEnd
  crates/core/src/codegen.rs
  packages/astro-markflow/src/transforms/blocks-to-jsx.ts
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

fix: use char_indices for UTF-8 safe entity conversion
  crates/core/src/codegen.rs
Due: cargo fmt --

fix: strip style/script tags in semantic diff comparison
  scripts/compare-withastro-docs.mjs
Due: none

fix: CI failures for entity decoding, PascalCase detection, and JSX highlighting
  crates/core/src/codegen.rs
  packages/astro-markflow/src/transforms/index.ts
  packages/astro-markflow/src/transforms/shiki.test.ts
  packages/astro-markflow/src/transforms/shiki.ts
  scripts/compare-withastro-docs.mjs
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

feat: update styling
  packages/astro-markflow/src/transforms/blocks-to-jsx.test.ts
  packages/astro-markflow/src/transforms/blocks-to-jsx.ts
Due: biome check --apply --no-errors-on-unmatched

debug: add detailed semantic diff sample output
  scripts/compare-withastro-docs.mjs
Due: none

debug: enhance semantic diff output with hex codes and more samples
  scripts/compare-withastro-docs.mjs
Due: none

fix: improve semantic diff normalization for accurate comparison
  scripts/compare-withastro-docs.mjs
Due: none

fix: improve ExpressiveCode line div to newline conversion
  scripts/compare-withastro-docs.mjs
Due: none

fix: correct newline normalization order in semantic diff
  scripts/compare-withastro-docs.mjs
Due: none

fix
  crates/core/src/codegen.rs
Due: cargo fmt --

fix
  fixtures/integration/withastro-docs/harness-summary.json
  scripts/compare-withastro-docs.mjs
Due: biome check --apply --no-errors-on-unmatched

feat: udpate transforms
  packages/astro-markflow/src/transforms/blocks-to-jsx.test.ts
  packages/astro-markflow/src/transforms/blocks-to-jsx.ts
  packages/astro-markflow/src/utils/imports.test.ts
  packages/astro-markflow/src/utils/imports.ts
Due: biome check --apply --no-errors-on-unmatched

fix
  packages/astro-markflow/src/utils/imports.test.ts
  packages/astro-markflow/src/utils/imports.ts
Due: biome check --apply --no-errors-on-unmatched

feat: update styling
  crates/core/src/codegen.rs
  crates/napi/src/lib.rs
  packages/astro-markflow/src/transforms/blocks-to-jsx.ts
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

fix: strip <p> wrappers from Fragment slot elements
  crates/core/src/renderer/mdast/context.rs
  crates/core/src/renderer/mdast/mod.rs
  crates/core/src/transform/jsx_normalize.rs
  packages/astro-markflow/src/transforms/blocks-to-jsx.test.ts
  packages/astro-markflow/src/transforms/blocks-to-jsx.ts
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

fix: handle pre tags with attributes in ExpressiveCode and Shiki transforms
  packages/astro-markflow/src/transforms/expressive-code.test.ts
  packages/astro-markflow/src/transforms/expressive-code.ts
  packages/astro-markflow/src/transforms/shiki.test.ts
  packages/astro-markflow/src/transforms/shiki.ts
Due: biome check --apply --no-errors-on-unmatched

fix: enable Shiki fallback when ExpressiveCode is disabled
  packages/astro-markflow/src/vite-plugin.ts
Due: biome check --apply --no-errors-on-unmatched

fix: correct HTML entity escaping and slot handling in JSX output
  crates/core/src/codegen.rs
  crates/core/src/renderer/mdast/context.rs
  crates/core/src/renderer/mdast/mod.rs
  crates/core/src/renderer/mdast/render.rs
  crates/core/src/renderer/mdast/types.rs
  crates/napi/src/lib.rs
  crates/napi/src/types.rs
  fixtures/integration/withastro-docs/harness-summary.json
  packages/astro-markflow/src/transforms/blocks-to-jsx.test.ts
  packages/astro-markflow/src/transforms/blocks-to-jsx.ts
  packages/astro-markflow/src/vite-plugin.ts
  packages/astro-markflow/src/vite-plugin/types.ts
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

fix: preserve URL specifiers with // in multi-line imports
  packages/astro-markflow/src/utils/imports.test.ts
  packages/astro-markflow/src/utils/imports.ts
Due: biome check --apply --no-errors-on-unmatched

fix: track string literals in find_tag_end for JSX expressions
  crates/core/src/codegen.rs
  docs/decisions/2026-01-29-find-tag-end-string-tracking.md
Due: biome format --write --no-errors-on-unmatched, cargo fmt --

fix: prevent double-highlighting and JSX-unsafe Shiki output
  packages/astro-markflow/src/transforms/shiki.test.ts
  packages/astro-markflow/src/transforms/shiki.ts
Due: biome check --apply --no-errors-on-unmatched

fix: unify entity conversion in Rust and fix self-closing tag JSX bug (#155)
  crates/core/src/codegen.rs
  crates/core/src/renderer/mdast/context.rs
  crates/core/src/renderer/mdast/directives.rs
  crates/core/src/renderer/mdast/mod.rs
  crates/core/src/renderer/mdast/render.rs
  crates/core/src/renderer/mdast/types.rs
  crates/core/src/transform/jsx_normalize.rs
  crates/napi/src/lib.rs
  crates/napi/src/types.rs
  docs/decisions/2026-01-29-find-tag-end-string-tracking.md
  fixtures/integration/withastro-docs/harness-summary.json
  packages/astro-markflow/src/presets/index.ts
  packages/astro-markflow/src/transforms/blocks-to-jsx.test.ts
  packages/astro-markflow/src/transforms/blocks-to-jsx.ts
  packages/astro-markflow/src/transforms/expressive-code.test.ts
  packages/astro-markflow/src/transforms/expressive-code.ts
  packages/astro-markflow/src/transforms/index.test.ts
  packages/astro-markflow/src/transforms/index.ts
  packages/astro-markflow/src/transforms/shiki.test.ts
  packages/astro-markflow/src/transforms/shiki.ts
  packages/astro-markflow/src/utils/imports.test.ts
  packages/astro-markflow/src/utils/imports.ts
  packages/astro-markflow/src/vite-plugin.ts
  packages/astro-markflow/src/vite-plugin/jsx-module.ts
  packages/astro-markflow/src/vite-plugin/types.ts
  scripts/compare-withastro-docs.mjs
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, cargo fmt --
