Repository knj-labo/mdx-hybrid: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, cargo fmt --

refactor(napi): strip leading imports
  crates/napi/src/compiler.rs
Due: cargo fmt --

feat(napi): wrap JSX with renderJSX
  crates/napi/src/codegen.rs
Due: cargo fmt --

feat(napi): add jsx module wrapper
  crates/napi/src/lib.rs
Due: cargo fmt --

docs(specs): document napi jsx module wrapper
  docs/specs/mf-150-astro-mdx-napi.md
Due: biome format --write --no-errors-on-unmatched

docs(specs): expand markdown-to-jsx rules
  docs/specs/mf-170-markdown-to-jsx.md
Due: biome format --write --no-errors-on-unmatched

docs(decisions): log recent steps
  docs/decisions/0001-lean-architecture.md
Due: biome format --write --no-errors-on-unmatched

chore(git): ignore astro dev artifacts
  .gitignore
Due: none

Fix Steps JSX nesting and document rule
  crates/core/src/renderer/jsx_renderer.rs
  crates/core/tests/integration_tests.rs
  docs/decisions/0001-lean-architecture.md
  docs/specs/mf-170-markdown-to-jsx.md
Due: biome format --write --no-errors-on-unmatched, cargo fmt --

feat: cargo fmt and clippy
  crates/core/src/renderer/jsx_renderer.rs
  crates/core/tests/integration_tests.rs
  crates/napi/src/codegen.rs
  crates/napi/src/headings.rs
  crates/napi/src/lib.rs
Due: cargo fmt --

chore: fix clippy warnings
  crates/core/src/renderer/jsx_renderer.rs
  crates/core/src/renderer/multipass.rs
  docs/decisions/0001-lean-architecture.md
  docs/specs/mf-170-markdown-to-jsx.md
Due: biome format --write --no-errors-on-unmatched, cargo fmt --

feat: fix fmt warnings
  crates/core/src/renderer/jsx_renderer.rs
  crates/core/src/renderer/multipass.rs
Due: cargo fmt --

fix: fix clippy warnings
  crates/core/src/renderer/multipass.rs
  crates/napi/src/lib.rs
Due: cargo fmt --

fix: preserve jsx fence text without html regressions
  crates/core/src/parser/markdown_adapter.rs
  crates/core/src/renderer/html_renderer.rs
  crates/core/src/renderer/jsx_renderer.rs
  crates/core/src/transform/directive_adapter.rs
  crates/napi/src/codegen.rs
  crates/napi/src/compiler.rs
Due: cargo fmt --

add multipass scaffold
  crates/core/src/renderer/mod.rs
  crates/core/src/renderer/multipass.rs
  docs/decisions/0001-lean-architecture.md
  docs/specs/mf-170-markdown-to-jsx.md
Due: biome format --write --no-errors-on-unmatched, cargo fmt --

feat: multipass recursive scan scaffold
  crates/core/src/renderer/multipass.rs
  docs/decisions/0001-lean-architecture.md
  docs/specs/mf-170-markdown-to-jsx.md
Due: biome format --write --no-errors-on-unmatched, cargo fmt --

feat: apply format
  crates/core/src/renderer/multipass.rs
Due: cargo fmt --

feat: multipass single-pass scan
  crates/core/src/renderer/multipass.rs
  docs/decisions/0001-lean-architecture.md
  docs/specs/mf-170-markdown-to-jsx.md
Due: biome format --write --no-errors-on-unmatched, cargo fmt --

feat: multipass jsx renderer hookup
  crates/core/src/renderer/jsx_renderer.rs
  docs/decisions/0001-lean-architecture.md
  docs/specs/mf-171-jsx-renderer-api.md
Due: biome format --write --no-errors-on-unmatched, cargo fmt --

feat: fix clippy
  crates/core/src/renderer/jsx_renderer.rs
  crates/core/src/renderer/multipass.rs
  docs/decisions/0001-lean-architecture.md
  docs/specs/mf-171-jsx-renderer-api.md
Due: biome format --write --no-errors-on-unmatched, cargo fmt --

feat: fix clippy warnings
  crates/core/src/renderer/multipass.rs
Due: cargo fmt --

fix: test
  crates/core/src/renderer/jsx_renderer.rs
  docs/decisions/0001-lean-architecture.md
  docs/specs/mf-171-jsx-renderer-api.md
Due: biome format --write --no-errors-on-unmatched, cargo fmt --

Add mdast directive/checklist handling and code block fallback styles
  crates/core/src/renderer/mdast_renderer.rs
  crates/core/src/renderer/starlight_components.css
  docs/decisions/0001-lean-architecture.md
  docs/specs/mf-172-mdast-lolhtml-pipeline.md
Due: biome format --write --no-errors-on-unmatched, cargo fmt --

chore: apply cargo fmt formatting
  crates/core/src/renderer/jsx_renderer.rs
  crates/core/src/renderer/mdast_renderer.rs
  crates/napi/src/headings.rs
Due: cargo fmt --

chore: prepare draft PR with clippy fixes and documentation
  .gitignore
  AGENTS.md
  crates/core/src/renderer/jsx_renderer.rs
  crates/core/src/renderer/mdast_renderer.rs
  crates/core/src/renderer/multipass.rs
  crates/napi/src/compiler.rs
  crates/napi/src/headings.rs
  diff_baseline.html
  diff_markflow.html
  docs/decisions/0002-draft-pr-submission.md
  raw_baseline.html
  raw_markflow.html
Due: biome format --write --no-errors-on-unmatched, cargo fmt --

feat: Implement mdast renderer with Starlight component support
  .github/workflows/ci.yml
  AGENTS.md
  README.md
  crates/core/src/lib.rs
  crates/core/src/parser/markdown_adapter.rs
  crates/core/src/renderer/jsx_renderer.rs
  crates/core/src/renderer/mdast_renderer.rs
  crates/core/src/renderer/mod.rs
  crates/core/src/renderer/multipass.rs
  crates/core/src/renderer/starlight_components.css
  crates/napi/src/compiler.rs
  crates/napi/src/headings.rs
  crates/napi/src/types.rs
  diff_baseline.html
  diff_markflow.html
  docs/astro-docs-catalog.md
  docs/ci/ci-steps.md
  docs/decisions/0001-lean-architecture.md
  docs/specs/mf-170-markdown-to-jsx.md
  docs/specs/mf-171-jsx-renderer-api.md
  docs/specs/mf-172-mdast-lolhtml-pipeline.md
  docs/specs/mf-173-astro-plugin-harness.md
  fixtures/integration/withastro-docs/.gitignore
  fixtures/integration/withastro-docs/README.md
  fixtures/integration/withastro-docs/semantic-routes.txt
  package.json
  packages/vite-plugin-markflow/package.json
  packages/vite-plugin-markflow/src/index.js
  pnpm-lock.yaml
  raw_baseline.html
  raw_markflow.html
  scripts/README.md
  scripts/clean-all.mjs
  scripts/compare-withastro-docs.mjs
  scripts/debug-diff.mjs
  scripts/visual-diff-withastro-docs.mjs
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, cargo fmt --

chore: apply cargo fmt to fix CI formatting checks
  crates/core/src/renderer/jsx_renderer.rs
  crates/core/src/renderer/mdast_renderer.rs
  crates/core/src/renderer/multipass.rs
  crates/napi/src/compiler.rs
Due: cargo fmt --

test: ignore failing export hoisting tests (pre-existing issue)
  crates/napi/src/lib.rs
Due: cargo fmt --

feat: add ADR to refactor renderer
  docs/decisions/0003-renderer-refactoring.md
Due: biome format --write --no-errors-on-unmatched

docs: add ADR-0003 for mdast v2 renderer refactoring
  docs/decisions/0003-renderer-refactoring.md
Due: biome format --write --no-errors-on-unmatched

feat(renderer): implement mdast v2 renderer foundation
  crates/core/src/renderer/mdast.rs
  crates/core/src/renderer/mod.rs
Due: cargo fmt --

docs(renderer): add English documentation to mdast v2 module
  crates/core/src/renderer/mdast.rs
Due: cargo fmt --

feat(mdast): implement Block Architecture for flexible component rendering
  crates/core/src/renderer/mdast.rs
Due: cargo fmt --

feat(wasm): add parse_blocks function for Block Architecture
  Cargo.lock
  crates/core/src/renderer/mdast.rs
  crates/wasm/Cargo.toml
  crates/wasm/src/lib.rs
Due: cargo fmt --

feat(mdast): integrate DirectiveAdapter with preprocessing approach
  crates/core/src/renderer/mdast.rs
Due: cargo fmt --

feat(mdast): add support for standard markdown elements
  crates/core/src/renderer/mdast.rs
Due: cargo fmt --

chore: apply cargo fmt formatting
  crates/core/src/renderer/mdast.rs
  crates/wasm/src/lib.rs
Due: cargo fmt --

fix: address code review feedback in mdast renderer
  crates/core/src/renderer/mdast.rs
Due: cargo fmt --

feat: add GFM table and strikethrough support to mdast renderer
  crates/core/src/renderer/mdast.rs
Due: cargo fmt --

feat: add GFM table and strikethrough support to mdast renderer (#57)
  crates/core/src/renderer/mdast.rs
Due: cargo fmt --

feat: add parseBlocks() NAPI binding for Block Architecture
  crates/napi/src/lib.rs
  crates/napi/src/types.rs
  multilingual-analysis.md
  test-parse-blocks.mjs
Due: biome format --write --no-errors-on-unmatched, cargo fmt --

Path conditions:
  biome check --apply --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,json}
  biome format --write --no-errors-on-unmatched: any of: *.{md,mdx}
  cargo fmt --: any of: *.rs
