Repository knj-labo/mdx-hybrid: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, cargo fmt --

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json}": [
    "biome check --apply --no-errors-on-unmatched"
  ],
  "*.{md,mdx}": [
    "biome format --write --no-errors-on-unmatched"
  ],
  "*.rs": [
    "cargo fmt --"
  ]
}

fixtures
  fixtures/README.md
  fixtures/markdown/hello.md
Due: biome format --write --no-errors-on-unmatched

feat: crates
  crates/napi/tests/fixtures-parity.test.js
  crates/wasm/Cargo.toml
  crates/wasm/src/lib.rs
  crates/wasm/tests/stream_html.rs
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

feat: chore
  .gitignore
  AGENTS.md
  Cargo.lock
  ROADMAP.md
  scripts/smoke-napi.mjs
Due: biome format --write --no-errors-on-unmatched

udpate ci
  .github/workflows/ci.yml
Due: none

core: refactor streaming parser and add definition lookup
  crates/core/src/lib.rs
  crates/core/src/markdown_adapter.rs
Due: cargo fmt --

tests: refresh fixtures and align docs with new parser
  crates/napi/tests/parse.test.js
  crates/napi/tests/parseWithOptions.test.js
  crates/napi/tests/parseWithStats.test.js
  docs/specs/mf-101-streaming.md
  docs/specs/mf-118-napi-smoke.md
  docs/specs/mf-140-core-engine.md
  fixtures/README.md
  fixtures/core/markdown/hello.md
  fixtures/core/markdown/table.md
  fixtures/core/mdx/embedded-jsx/component.mdx
  fixtures/core/mdx/esm/imports.mdx
  fixtures/core/mdx/expressions/flow.mdx
  fixtures/core/mdx/expressions/inline.mdx
  scripts/smoke-napi.mjs
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

wasm: expose streaming API and configure wasm-bindgen-test
  crates/napi/tests/fixtures-parity.test.js
  crates/wasm/Cargo.toml
  crates/wasm/src/lib.rs
  crates/wasm/tests/stream_html.rs
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

ci: wire harness comparison and update contributor docs
  .github/workflows/ci.yml
  .gitignore
  AGENTS.md
  Cargo.lock
  ROADMAP.md
  docs/development/guidelines-ja.md
  docs/development/guidelines.md
Due: biome format --write --no-errors-on-unmatched

feat: update docs to create astro-loader
  AGENTS.md
Due: biome format --write --no-errors-on-unmatched

feat(napi): expose parse_frontmatter helper
  Cargo.lock
  crates/napi/Cargo.toml
  crates/napi/src/lib.rs
Due: cargo fmt --

fix(astro-loader): guard optional frontmatter errors
  packages/astro-loader/src/index.ts
Due: biome check --apply --no-errors-on-unmatched

fix(astro-loader): defer digest updates on parse failure
  packages/astro-loader/src/index.ts
Due: biome check --apply --no-errors-on-unmatched

docs: mark content loader glue complete
  ROADMAP.md
Due: biome format --write --no-errors-on-unmatched

docs: document astro loader contract
  docs/architecture/overview.md
Due: biome format --write --no-errors-on-unmatched

chore(astro-loader): add package scaffolding
  packages/astro-loader/package.json
  packages/astro-loader/pnpm-lock.yaml
  packages/astro-loader/tsconfig.json
Due: biome check --apply --no-errors-on-unmatched

feat: add docs to specify the items
  Backlog.md
  docs/specs/mf-150-astro-mdx-napi.md
Due: biome format --write --no-errors-on-unmatched

feat(napi): add Astro MDX compiler pipeline
  crates/napi/src/lib.rs
Due: cargo fmt --

feat: introduce vite-plugin-markflow package
  packages/vite-plugin-markflow/package.json
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched

feat(harness): exercise Markflow MDX output
  fixtures/integration/astro-harness/astro.config.mjs
  fixtures/integration/astro-harness/src/content/docs/getting-started.mdx
  fixtures/integration/astro-harness/src/layouts/DocsLayout.astro
  fixtures/integration/astro-harness/src/pages/index.astro
Due: biome format --write --no-errors-on-unmatched

docs: flesh out Markflow Astro/MDX spec
  docs/specs/mf-150-astro-mdx-napi.md
Due: biome format --write --no-errors-on-unmatched

docs: backlog validation failed
  docs/specs/mf-150-astro-mdx-napi.md
Due: biome format --write --no-errors-on-unmatched

chore: replace the closure with the function itself
  crates/napi/src/lib.rs
Due: cargo fmt --

pass ci
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched

feat: add the MF-160 spec describing how to vendor withastro/docs, wire vite-plugin-markflow,
  Backlog.md
  ROADMAP.md
  docs/specs/mf-160-withastro-docs-harness.md
Due: biome format --write --no-errors-on-unmatched

feat: withastro-docs
  fixtures/integration/withastro-docs/.gitignore
  fixtures/integration/withastro-docs/README.md
Due: biome format --write --no-errors-on-unmatched

feat: update README.md
  README.md
Due: biome format --write --no-errors-on-unmatched

feat: add withastro docs harness target
  README.md
  fixtures/integration/withastro-docs/harness-summary.json
  scripts/compare-astro-harness.mjs
  scripts/run-astro-harness.mjs
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

fix: harden markflow plugin fallback imports
  ROADMAP.md
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat: add core frontmatter extraction and wire N-API
  Cargo.lock
  crates/core/Cargo.toml
  crates/core/src/frontmatter.rs
  crates/core/src/lib.rs
  crates/napi/Cargo.toml
  crates/napi/src/lib.rs
  docs/specs/mf-150-astro-mdx-napi.md
Due: biome format --write --no-errors-on-unmatched, cargo fmt --

feat: add parse config
  ROADMAP.md
  crates/core/src/markdown_adapter.rs
  crates/core/src/parse_config.rs
Due: biome format --write --no-errors-on-unmatched, cargo fmt --

chore: rustfmt changes
  crates/napi/src/lib.rs
Due: cargo fmt --

feat: code-fence-aware import/export hoisting across core/NAPI/WASM
  crates/core/src/code_fence.rs
  crates/core/src/lib.rs
  crates/napi/src/lib.rs
  crates/wasm/src/lib.rs
Due: cargo fmt --

feat: cargo fmt
  crates/core/src/code_fence.rs
  crates/core/src/lib.rs
  crates/napi/src/lib.rs
Due: cargo fmt --

Update crates/core/src/lib.rs
  crates/core/src/lib.rs
Due: cargo fmt --

Update crates/core/src/code_fence.rs
  crates/core/src/code_fence.rs
Due: cargo fmt --
