Repository knj-labo/mdx-hybrid: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, cargo fmt --

fix: normalize Steps slot in rust codegen for cached html
  crates/core/src/codegen.rs
Due: cargo fmt --

fix
  packages/astro-markflow/src/pipeline/orchestrator.ts
  packages/astro-markflow/src/transforms/index.ts
  packages/astro-markflow/src/transforms/normalize-steps.ts
Due: biome check --apply --no-errors-on-unmatched

fix: normalize FileTree slot to single ul in transforms
  packages/astro-markflow/src/pipeline/orchestrator.ts
  packages/astro-markflow/src/transforms/blocks-to-jsx.ts
  packages/astro-markflow/src/transforms/index.ts
  packages/astro-markflow/src/transforms/normalize-filetree.ts
Due: biome check --apply --no-errors-on-unmatched

fix: normalize FileTree slot across codegen and JSX paths
  crates/core/src/codegen.rs
  packages/astro-markflow/src/transforms/blocks-to-jsx.ts
  packages/astro-markflow/src/transforms/normalize-filetree.ts
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

fix: escape braces in component slots and normalize FileTree content
  crates/core/src/codegen.rs
  packages/astro-markflow/src/transforms/blocks-to-jsx.ts
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

feat(core): implement safe raw <script>/<style> passthrough via masking
  crates/core/src/codegen.rs
  crates/core/src/renderer/mdast/context.rs
  crates/core/src/renderer/mdast/mod.rs
  crates/core/src/renderer/mdast/render.rs
  crates/napi/src/compiler.rs
  crates/napi/src/lib.rs
Due: cargo fmt --

wip
  crates/core/src/renderer/mdast/render.rs
  crates/core/src/transform/jsx_normalize.rs
Due: cargo fmt --

wip
  crates/core/src/codegen.rs
Due: cargo fmt --

fix(core): handle MDX imports and list-embedded JSX components
  crates/core/src/renderer/mdast/mod.rs
  crates/core/src/renderer/mdast/render.rs
  crates/core/src/transform/jsx_normalize.rs
  packages/astro-markflow/src/transforms/blocks-to-jsx.ts
  packages/astro-markflow/src/vite-plugin.ts
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

refactor: consolidate JSX tag parsing and extract MDX detection util
  crates/core/src/transform/jsx_normalize.rs
  packages/astro-markflow/src/utils/mdx-detection.ts
  packages/astro-markflow/src/vite-plugin.ts
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

style: apply cargo fmt
  crates/core/src/transform/jsx_normalize.rs
Due: cargo fmt --

fix: address clippy warnings in jsx_normalize
  crates/core/src/transform/jsx_normalize.rs
Due: cargo fmt --

Feat/keep inline on table tag (#134)
  crates/core/src/codegen.rs
  crates/core/src/renderer/mdast/context.rs
  crates/core/src/renderer/mdast/mod.rs
  crates/core/src/renderer/mdast/render.rs
  crates/core/src/transform/jsx_normalize.rs
  crates/napi/src/compiler.rs
  crates/napi/src/lib.rs
  crates/napi/src/types.rs
  fixtures/integration/astro-harness/astro.config.mjs
  fixtures/integration/astro-harness/package.json
  fixtures/integration/astro-harness/plugins/markflow-content-plugin.mjs
  packages/astro-markflow/src/pipeline/orchestrator.ts
  packages/astro-markflow/src/transforms/blocks-to-jsx.ts
  packages/astro-markflow/src/transforms/index.ts
  packages/astro-markflow/src/transforms/normalize-filetree.ts
  packages/astro-markflow/src/transforms/normalize-steps.ts
  packages/astro-markflow/src/utils/mdx-detection.ts
  packages/astro-markflow/src/vite-plugin.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

fix(napi): update tests to use current API (compileIr)
  crates/napi/tests/auto_import.test.js
  crates/napi/tests/fixtures-parity.test.js
  crates/napi/tests/parse.test.js
  crates/napi/tests/parseWithOptions.test.js
  crates/napi/tests/parseWithStats.test.js
  crates/napi/tests/parse_with_options.test.js
Due: biome check --apply --no-errors-on-unmatched

ci: add NAPI tests and package tests to CI workflow
  .github/workflows/ci.yml
Due: none

fix(test): correct runHarness import and call in directives test
  fixtures/integration/astro-harness/tests/directives.aside.test.mjs
Due: none

ci: remove performance threshold check for withastro-docs build
  .github/workflows/ci.yml
Due: none

ci: update Node.js version from 20 to 22 for Astro compatibility
  .github/workflows/ci.yml
Due: none

fix plugin
  packages/astro-markflow/src/vite-plugin.ts
Due: biome check --apply --no-errors-on-unmatched

fix
  fixtures/integration/astro-harness/astro.config.mjs
  fixtures/integration/astro-harness/package.json
  packages/astro-markflow/package.json
  packages/astro-markflow/src/vite-plugin.ts
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched

fix(astro-markflow): correct SourceMapInput type for Vite plugin API
  packages/astro-markflow/src/vite-plugin.ts
Due: biome check --apply --no-errors-on-unmatched

fix
  fixtures/integration/astro-harness/astro.config.mjs
  fixtures/integration/astro-harness/src/components/Aside.astro
  fixtures/integration/astro-harness/src/components/starlight-shim.js
  fixtures/integration/astro-harness/src/pages/index.astro
  fixtures/integration/astro-harness/tests/directives.aside.test.mjs
Due: biome check --apply --no-errors-on-unmatched

fix(napi): update tests to use current API (compileIr) (#135)
  .github/workflows/ci.yml
  crates/napi/tests/auto_import.test.js
  crates/napi/tests/fixtures-parity.test.js
  crates/napi/tests/parse.test.js
  crates/napi/tests/parseWithOptions.test.js
  crates/napi/tests/parseWithStats.test.js
  crates/napi/tests/parse_with_options.test.js
  fixtures/integration/astro-harness/astro.config.mjs
  fixtures/integration/astro-harness/package.json
  fixtures/integration/astro-harness/src/components/Aside.astro
  fixtures/integration/astro-harness/src/components/starlight-shim.js
  fixtures/integration/astro-harness/src/pages/index.astro
  fixtures/integration/astro-harness/tests/directives.aside.test.mjs
  packages/astro-markflow/package.json
  packages/astro-markflow/src/vite-plugin.ts
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched

refactor(core): decouple Starlight-specific processing with registry-based architecture
  crates/core/src/codegen.rs
  crates/core/src/lib.rs
  crates/core/src/registry/defaults.rs
  crates/core/src/registry/mod.rs
  crates/core/src/registry/types.rs
  crates/core/src/renderer/mdast/context.rs
  crates/core/src/renderer/mdast/render.rs
  crates/core/src/transform/directives.rs
  packages/markflow/src/registry/index.ts
  packages/markflow/src/registry/presets/starlight.ts
  packages/markflow/src/registry/types.ts
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

feat: apply formatting
  crates/core/src/registry/defaults.rs
  crates/core/src/renderer/mdast/context.rs
Due: cargo fmt --

refactor(core): decouple Starlight-specific processing with registry-based architecture (#137)
  crates/core/src/codegen.rs
  crates/core/src/lib.rs
  crates/core/src/registry/defaults.rs
  crates/core/src/registry/mod.rs
  crates/core/src/registry/types.rs
  crates/core/src/renderer/mdast/context.rs
  crates/core/src/renderer/mdast/render.rs
  crates/core/src/transform/directives.rs
  packages/markflow/src/registry/index.ts
  packages/markflow/src/registry/presets/starlight.ts
  packages/markflow/src/registry/types.ts
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

ci: add semantic diff and visual diff jobs for withastro-docs
  .github/workflows/ci.yml
  fixtures/integration/withastro-docs/visual-routes.txt
Due: none

fix(core): preserve existing <ul> structure in normalize_wrap_in_ul
  crates/core/src/codegen.rs
  crates/core/src/registry/defaults.rs
Due: cargo fmt --

fix(ci): fix semantic diff comparison for true baseline vs markflow
  fixtures/integration/withastro-docs/overlay/astro.config.ts
  fixtures/integration/withastro-docs/semantic-routes.txt
  scripts/compare-withastro-docs.mjs
Due: biome check --apply --no-errors-on-unmatched

fix: CI semantic diff and formatting (#139)
  .github/workflows/ci.yml
  crates/core/src/codegen.rs
  crates/core/src/registry/defaults.rs
  fixtures/integration/withastro-docs/overlay/astro.config.ts
  fixtures/integration/withastro-docs/visual-routes.txt
  scripts/compare-withastro-docs.mjs
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

fix(core): don't escape JSX braces in component slot HTML
  crates/core/src/codegen.rs
  crates/core/src/renderer/mdast/mod.rs
Due: cargo fmt --

feat: enhance error handling and add compatibility testing
  .github/workflows/compatibility.yml
  crates/core/src/debug.rs
  crates/core/src/error.rs
  crates/core/src/lib.rs
  crates/napi/src/compiler.rs
  crates/napi/src/lib.rs
Due: cargo fmt --

fix: resolve CI formatting and Node.js 18 compatibility issues
  .github/workflows/compatibility.yml
  crates/core/src/debug.rs
  crates/core/src/error.rs
  crates/napi/src/compiler.rs
  crates/napi/src/lib.rs
Due: cargo fmt --

fix: remove redundant bool comparison in debug test to pass clippy
  crates/core/src/debug.rs
Due: cargo fmt --

fix: install Bun in astro-compatibility CI job
  .github/workflows/compatibility.yml
Due: none

feat: enhance error handling and add compatibility testing (#140)
  .github/workflows/compatibility.yml
  crates/core/src/debug.rs
  crates/core/src/error.rs
  crates/core/src/lib.rs
  crates/napi/src/compiler.rs
  crates/napi/src/lib.rs
Due: cargo fmt --

fix
  AGENTS.md
  CLAUDE.md
  scripts/clean-all.mjs
  scripts/debug-diff.mjs
  scripts/fix-mdx-indentation.mjs
  scripts/visual-diff-astro-harness.mjs
Due: biome format --write --no-errors-on-unmatched

Path conditions:
  biome check --apply --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,json}
  biome format --write --no-errors-on-unmatched: any of: *.{md,mdx}
  cargo fmt --: any of: *.rs
