Repository knj-labo/mdx-hybrid: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, cargo fmt --

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json}": [
    "biome check --apply --no-errors-on-unmatched"
  ],
  "*.{md,mdx}": [
    "biome format --write --no-errors-on-unmatched"
  ],
  "*.rs": [
    "cargo fmt --"
  ]
}

fix(parser): preserve FileTree structure inside Steps (#104)
  crates/core/src/parser/markdown_adapter.rs
Due: cargo fmt --

fix(plugin): support bold/italic formatting inside FileTree
  crates/core/src/renderer/mdast.rs
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

fix(plugin): support bold/italic formatting inside FileTree (#105)
  crates/core/src/renderer/mdast.rs
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

refactor(core): split mdast.rs into multiple modules
  crates/core/src/renderer/mdast.rs
  crates/core/src/renderer/mdast/context.rs
  crates/core/src/renderer/mdast/directives.rs
  crates/core/src/renderer/mdast/mod.rs
  crates/core/src/renderer/mdast/render.rs
  crates/core/src/renderer/mdast/types.rs
Due: cargo fmt --

style: fix formatting
  crates/core/src/renderer/mdast/context.rs
  crates/core/src/renderer/mdast/directives.rs
  crates/core/src/renderer/mdast/mod.rs
  fixtures/integration/withastro-docs/overlay/ec.config.mjs
  fixtures/integration/withastro-docs/visual-diff-output/local_en_basics_project-structure_.png
  fixtures/integration/withastro-docs/visual-diff-output/local_en_concepts_islands_.png
  fixtures/integration/withastro-docs/visual-diff-output/local_en_concepts_why-astro_.png
  fixtures/integration/withastro-docs/visual-diff-output/local_en_develop-and-build_.png
  fixtures/integration/withastro-docs/visual-diff-output/local_en_editor-setup_.png
  fixtures/integration/withastro-docs/visual-diff-output/local_en_getting-started_.png
  fixtures/integration/withastro-docs/visual-diff-output/local_en_guides_environment-variables_.png
  fixtures/integration/withastro-docs/visual-diff-output/local_en_guides_middleware_.png
  fixtures/integration/withastro-docs/visual-diff-output/local_en_install-and-setup_.png
  fixtures/integration/withastro-docs/visual-diff-output/local_en_tutorial_0-introduction_.png
  fixtures/integration/withastro-docs/visual-diff-output/prod_en_basics_project-structure_.png
  fixtures/integration/withastro-docs/visual-diff-output/prod_en_concepts_islands_.png
  fixtures/integration/withastro-docs/visual-diff-output/prod_en_concepts_why-astro_.png
  fixtures/integration/withastro-docs/visual-diff-output/prod_en_develop-and-build_.png
  fixtures/integration/withastro-docs/visual-diff-output/prod_en_editor-setup_.png
  fixtures/integration/withastro-docs/visual-diff-output/prod_en_getting-started_.png
  fixtures/integration/withastro-docs/visual-diff-output/prod_en_guides_environment-variables_.png
  fixtures/integration/withastro-docs/visual-diff-output/prod_en_guides_middleware_.png
  fixtures/integration/withastro-docs/visual-diff-output/prod_en_install-and-setup_.png
  fixtures/integration/withastro-docs/visual-diff-output/prod_en_tutorial_0-introduction_.png
  fixtures/integration/withastro-docs/visual-diff.ts
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

refactor(core): split mdast.rs into multiple modules (#106)
  crates/core/src/renderer/mdast.rs
  crates/core/src/renderer/mdast/context.rs
  crates/core/src/renderer/mdast/directives.rs
  crates/core/src/renderer/mdast/mod.rs
  crates/core/src/renderer/mdast/render.rs
  crates/core/src/renderer/mdast/types.rs
  fixtures/integration/withastro-docs/overlay/ec.config.mjs
  fixtures/integration/withastro-docs/visual-diff-output/local_en_basics_project-structure_.png
  fixtures/integration/withastro-docs/visual-diff-output/local_en_concepts_islands_.png
  fixtures/integration/withastro-docs/visual-diff-output/local_en_concepts_why-astro_.png
  fixtures/integration/withastro-docs/visual-diff-output/local_en_develop-and-build_.png
  fixtures/integration/withastro-docs/visual-diff-output/local_en_editor-setup_.png
  fixtures/integration/withastro-docs/visual-diff-output/local_en_getting-started_.png
  fixtures/integration/withastro-docs/visual-diff-output/local_en_guides_environment-variables_.png
  fixtures/integration/withastro-docs/visual-diff-output/local_en_guides_middleware_.png
  fixtures/integration/withastro-docs/visual-diff-output/local_en_install-and-setup_.png
  fixtures/integration/withastro-docs/visual-diff-output/local_en_tutorial_0-introduction_.png
  fixtures/integration/withastro-docs/visual-diff-output/prod_en_basics_project-structure_.png
  fixtures/integration/withastro-docs/visual-diff-output/prod_en_concepts_islands_.png
  fixtures/integration/withastro-docs/visual-diff-output/prod_en_concepts_why-astro_.png
  fixtures/integration/withastro-docs/visual-diff-output/prod_en_develop-and-build_.png
  fixtures/integration/withastro-docs/visual-diff-output/prod_en_editor-setup_.png
  fixtures/integration/withastro-docs/visual-diff-output/prod_en_getting-started_.png
  fixtures/integration/withastro-docs/visual-diff-output/prod_en_guides_environment-variables_.png
  fixtures/integration/withastro-docs/visual-diff-output/prod_en_guides_middleware_.png
  fixtures/integration/withastro-docs/visual-diff-output/prod_en_install-and-setup_.png
  fixtures/integration/withastro-docs/visual-diff-output/prod_en_tutorial_0-introduction_.png
  fixtures/integration/withastro-docs/visual-diff.ts
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

refactor(core): unify WASM and NAPI codegen utilities
  crates/core/src/codegen.rs
  crates/core/src/lib.rs
  crates/napi/src/codegen.rs
  crates/napi/src/compiler.rs
  crates/wasm/src/lib.rs
Due: cargo fmt --

refactor(core): split mdast modules and unify codegen utilities (#107)
  crates/core/src/codegen.rs
  crates/core/src/lib.rs
  crates/napi/src/codegen.rs
  crates/napi/src/compiler.rs
  crates/wasm/src/lib.rs
Due: cargo fmt --

feat(napi): add parallel batch processing API with Rayon
  Cargo.lock
  Cargo.toml
  crates/napi/Cargo.toml
  crates/napi/src/batch.rs
  crates/napi/src/compiler.rs
  crates/napi/src/lib.rs
Due: cargo fmt --

refactor(core): unify to single mdast-based pipeline (#97)
  crates/core/src/adapter.rs
  crates/core/src/engine.rs
  crates/core/src/event.rs
  crates/core/src/lib.rs
  crates/core/src/parser/markdown_adapter.rs
  crates/core/src/parser/mod.rs
  crates/core/src/renderer/html.rs
  crates/core/src/renderer/mdast/context.rs
  crates/core/src/renderer/mdast/mod.rs
  crates/core/src/renderer/mdast/render.rs
  crates/core/src/renderer/mod.rs
  crates/core/src/renderer/streaming_rewriter.rs
  crates/core/src/span.rs
  crates/core/src/transform/directive_adapter.rs
  crates/core/src/transform/directives.rs
  crates/core/src/transform/hoist_adapter.rs
  crates/core/src/transform/jsx_normalize.rs
  crates/core/src/transform/mod.rs
  crates/core/tests/components_snapshot.rs
  crates/core/tests/insta_tests.rs
  crates/core/tests/integration_tests.rs
  crates/napi/src/compiler.rs
  crates/napi/src/headings.rs
  crates/napi/src/lib.rs
  crates/napi/src/types.rs
  crates/wasm/src/lib.rs
  crates/wasm/tests/stream_html.rs
  scripts/smoke-napi.mjs
Due: cargo fmt --

feat(napi): add parallel batch processing API with Rayon (#109)
  Cargo.lock
  Cargo.toml
  crates/napi/Cargo.toml
  crates/napi/src/batch.rs
  crates/napi/src/compiler.rs
  crates/napi/src/lib.rs
Due: cargo fmt --

fix(codegen): use proper JS string escaping for prop values
  crates/core/src/codegen.rs
  crates/core/src/renderer/mdast/context.rs
Due: cargo fmt --

refactor(core): unify to single mdast-based pipeline (#97) (#108)
  crates/core/src/adapter.rs
  crates/core/src/engine.rs
  crates/core/src/event.rs
  crates/core/src/lib.rs
  crates/core/src/parser/markdown_adapter.rs
  crates/core/src/parser/mod.rs
  crates/core/src/renderer/html.rs
  crates/core/src/renderer/mdast/context.rs
  crates/core/src/renderer/mdast/mod.rs
  crates/core/src/renderer/mdast/render.rs
  crates/core/src/renderer/mod.rs
  crates/core/src/renderer/streaming_rewriter.rs
  crates/core/src/span.rs
  crates/core/src/transform/directive_adapter.rs
  crates/core/src/transform/directives.rs
  crates/core/src/transform/hoist_adapter.rs
  crates/core/src/transform/jsx_normalize.rs
  crates/core/src/transform/mod.rs
  crates/core/tests/components_snapshot.rs
  crates/core/tests/insta_tests.rs
  crates/core/tests/integration_tests.rs
  crates/napi/src/compiler.rs
  crates/napi/src/headings.rs
  crates/napi/src/lib.rs
  crates/napi/src/types.rs
  crates/wasm/src/lib.rs
  crates/wasm/tests/stream_html.rs
  scripts/smoke-napi.mjs
Due: cargo fmt --

fix(codegen): use proper JS string escaping for prop values (#110)
  crates/core/src/codegen.rs
  crates/core/src/renderer/mdast/context.rs
Due: cargo fmt --

feat(plugin): add pre-validation to detect problematic patterns early
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched

feat(registry): add component registry for centralized component management
  crates/core/src/lib.rs
  crates/core/src/registry/mod.rs
  crates/core/src/registry/types.rs
  crates/napi/src/types.rs
  packages/markflow/package.json
  packages/markflow/src/registry/index.ts
  packages/markflow/src/registry/presets/astro.ts
  packages/markflow/src/registry/presets/starlight.ts
  packages/markflow/src/registry/types.ts
  packages/vite-plugin-markflow/package.json
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

chore: update pnpm-lock.yaml for markflow dependency
  pnpm-lock.yaml
Due: none

refactor(registry): use functional style instead of class syntax
  packages/markflow/src/registry/index.ts
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched

fix(plugin): remove overly aggressive pre-validation
  packages/markflow/src/registry/index.ts
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched

fix(plugin): remove overly aggressive pre-validation
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched

feat(plugin): use component registry instead of hardcoded arrays
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched

fix(plugin): remove overly aggressive pre-validation (#111)
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched

fix(registry): convert TypeScript files to JavaScript for Node.js compatibility
  packages/markflow/package.json
  packages/markflow/src/registry/index.js
  packages/markflow/src/registry/index.ts
  packages/markflow/src/registry/presets/astro.js
  packages/markflow/src/registry/presets/starlight.js
  packages/markflow/src/registry/types.d.ts
Due: biome check --apply --no-errors-on-unmatched

feat(plugin): add extension points with hooks API (#102)
  packages/vite-plugin-markflow/src/index.js
  packages/vite-plugin-markflow/src/plugins.test.js
  packages/vite-plugin-markflow/src/transforms/index.js
  packages/vite-plugin-markflow/src/transforms/index.test.js
  packages/vite-plugin-markflow/src/types.js
Due: biome check --apply --no-errors-on-unmatched

feat(registry): add component registry for centralized component management (#113)
  crates/core/src/lib.rs
  crates/core/src/registry/mod.rs
  crates/core/src/registry/types.rs
  crates/napi/src/types.rs
  packages/markflow/package.json
  packages/markflow/src/registry/index.js
  packages/markflow/src/registry/presets/astro.js
  packages/markflow/src/registry/presets/starlight.js
  packages/markflow/src/registry/types.d.ts
  packages/vite-plugin-markflow/package.json
  packages/vite-plugin-markflow/src/index.js
  packages/vite-plugin-markflow/src/plugins.test.js
  packages/vite-plugin-markflow/src/transforms/index.js
  packages/vite-plugin-markflow/src/transforms/index.test.js
  packages/vite-plugin-markflow/src/types.js
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

fix(plugin): remove overly aggressive pre-validation
  packages/markflow/src/registry/index.ts
Due: biome check --apply --no-errors-on-unmatched

feat(registry): add component registry for centralized component management
  packages/markflow/src/registry/index.ts
  packages/markflow/src/registry/presets/astro.ts
  packages/markflow/src/registry/presets/starlight.ts
  packages/markflow/src/registry/types.ts
Due: biome check --apply --no-errors-on-unmatched

fix(registry): convert TypeScript files to JavaScript for Node.js compatibility
  packages/markflow/src/registry/index.ts
  packages/markflow/src/registry/presets/astro.ts
  packages/markflow/src/registry/presets/starlight.ts
  packages/markflow/src/registry/types.ts
Due: biome check --apply --no-errors-on-unmatched

feat(plugin): integrate batch parallel processing for build-time compilation
  packages/vite-plugin-markflow/package.json
  packages/vite-plugin-markflow/src/index.js
  packages/vite-plugin-markflow/src/transforms/expressive-code.js
  packages/vite-plugin-markflow/src/transforms/index.js
  packages/vite-plugin-markflow/src/transforms/inject-components.js
  packages/vite-plugin-markflow/src/transforms/shiki.js
  packages/vite-plugin-markflow/src/utils/imports.js
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched

feat(plugin): add extension points with hooks API (#102)
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched

fix(plugin): wrap cached batch results in JSX module structure
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched

fix(plugin): reduce fallback rate by wrapping batch HTML in JSX module
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched

fix(plugin): remove extractImports to fix E2E failures
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched

fix(plugin): add Fragment import to wrapHtmlInJsxModule
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched

fix(plugin): use correct JSX factory name in wrapHtmlInJsxModule
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched

fix(plugin): skip batch cache for MDX files with imports/components
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched

feat(plugin): integrate batch parallel processing for build-time compilation (#114)
  packages/vite-plugin-markflow/package.json
  packages/vite-plugin-markflow/src/index.js
  packages/vite-plugin-markflow/src/transforms/expressive-code.js
  packages/vite-plugin-markflow/src/transforms/index.js
  packages/vite-plugin-markflow/src/transforms/inject-components.js
  packages/vite-plugin-markflow/src/transforms/shiki.js
  packages/vite-plugin-markflow/src/utils/imports.js
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched

fix(plugin): reduce fallback rate by wrapping batch HTML in JSX module (#116)
  packages/vite-plugin-markflow/src/index.js
Due: biome check --apply --no-errors-on-unmatched
