Repository knj-labo/mdx-hybrid: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, cargo fmt --

fix (#141)
  AGENTS.md
  CLAUDE.md
  scripts/clean-all.mjs
  scripts/debug-diff.mjs
  scripts/fix-mdx-indentation.mjs
  scripts/visual-diff-astro-harness.mjs
Due: biome format --write --no-errors-on-unmatched

chore: remove web/ demo directory
  CLAUDE.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  web/README.md
  web/astro.config.mjs
  web/package.json
  web/src/content/config.ts
  web/src/content/docs/hello-world.md
  web/src/pages/index.astro
  web/tsconfig.json
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore: remove web/ demo directory (#142)
  CLAUDE.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  web/README.md
  web/astro.config.mjs
  web/package.json
  web/src/content/config.ts
  web/src/content/docs/hello-world.md
  web/src/pages/index.astro
  web/tsconfig.json
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

refactor(astro-markflow): consolidate module exports and fix MDX fallback compilation
  packages/astro-markflow/package.json
  packages/astro-markflow/src/transforms/blocks-to-jsx.ts
  packages/astro-markflow/src/utils/module-exports.ts
  packages/astro-markflow/src/vite-plugin.ts
Due: biome check --apply --no-errors-on-unmatched

fix: regenerate lockfile for yaml dependency
  pnpm-lock.yaml
Due: none

fix: resolve NoMatchingRenderer error for MDX fallback
  packages/astro-markflow/src/transforms/blocks-to-jsx.ts
  packages/astro-markflow/src/vite-plugin.ts
Due: biome check --apply --no-errors-on-unmatched

fix(markflow): provide Fragment in fallback MDX
  packages/astro-markflow/src/vite-plugin.ts
Due: biome check --apply --no-errors-on-unmatched

feat(markflow): normalize frontmatter handling
  packages/astro-markflow/src/utils/frontmatter.ts
  packages/astro-markflow/src/utils/mdx-detection.ts
  packages/astro-markflow/src/vite-plugin.ts
Due: biome check --apply --no-errors-on-unmatched

feat(astro-markflow): expose mdx options via presets
  packages/astro-markflow/src/index.ts
  packages/astro-markflow/src/presets/index.ts
  packages/astro-markflow/src/types.ts
  packages/astro-markflow/src/utils/mdx-detection.ts
  packages/astro-markflow/src/vite-plugin.ts
Due: biome check --apply --no-errors-on-unmatched

fix(astro-markflow): dev mode fallback and directive handling
  packages/astro-markflow/src/vite-plugin.ts
Due: biome check --apply --no-errors-on-unmatched

feat: wip
  package.json
  packages/astro-markflow/package.json
  packages/astro-markflow/src/utils/imports.ts
  packages/astro-markflow/src/utils/mdx-detection.ts
  pnpm-lock.yaml
  scripts/ast-compare/from-markflow.mjs
  scripts/ast-compare/from-unified.mjs
  scripts/ast-compare/schema.mjs
  scripts/compare-astro-harness.mjs
  scripts/compare-withastro-docs.mjs
Due: biome check --apply --no-errors-on-unmatched

chore: update harness-summary.json
  fixtures/integration/withastro-docs/harness-summary.json
Due: biome check --apply --no-errors-on-unmatched

fix(napi): add AVA timeout for Windows compatibility
  crates/napi/package.json
Due: biome check --apply --no-errors-on-unmatched

update markflow (#144)
  crates/napi/package.json
  fixtures/integration/withastro-docs/harness-summary.json
  package.json
  packages/astro-markflow/package.json
  packages/astro-markflow/src/index.ts
  packages/astro-markflow/src/presets/index.ts
  packages/astro-markflow/src/transforms/blocks-to-jsx.ts
  packages/astro-markflow/src/types.ts
  packages/astro-markflow/src/utils/frontmatter.ts
  packages/astro-markflow/src/utils/imports.ts
  packages/astro-markflow/src/utils/mdx-detection.ts
  packages/astro-markflow/src/vite-plugin.ts
  pnpm-lock.yaml
  scripts/ast-compare/from-markflow.mjs
  scripts/ast-compare/from-unified.mjs
  scripts/ast-compare/schema.mjs
  scripts/compare-astro-harness.mjs
  scripts/compare-withastro-docs.mjs
Due: biome check --apply --no-errors-on-unmatched

refactor(astro-markflow): use registry-driven slot normalization
  packages/astro-markflow/src/transforms/blocks-to-jsx.ts
Due: biome check --apply --no-errors-on-unmatched

refactor(astro-markflow): extract constants to dedicated module
  packages/astro-markflow/src/constants.ts
  packages/astro-markflow/src/vite-plugin.ts
Due: biome check --apply --no-errors-on-unmatched

refactor(astro-markflow): remove DEFAULT_STARLIGHT_DIRECTIVES
  packages/astro-markflow/src/vite-plugin.ts
Due: biome check --apply --no-errors-on-unmatched

refactor(astro-markflow): derive deprecated constants from library presets
  packages/astro-markflow/src/transforms/inject-components.ts
  packages/astro-markflow/src/utils/config.test.ts
  packages/astro-markflow/src/utils/config.ts
Due: biome check --apply --no-errors-on-unmatched

refactor(astro-markflow): extract vite-plugin types to separate module
  packages/astro-markflow/src/vite-plugin/types.ts
Due: biome check --apply --no-errors-on-unmatched

refactor(astro-markflow): extract binding loader to separate module
  packages/astro-markflow/src/vite-plugin/binding-loader.ts
Due: biome check --apply --no-errors-on-unmatched

refactor(astro-markflow): extract directive rewriter to separate module
  packages/astro-markflow/src/vite-plugin/directive-rewriter.ts
Due: biome check --apply --no-errors-on-unmatched

refactor(astro-markflow): extract JSX module utilities to separate module
  packages/astro-markflow/src/vite-plugin/jsx-module.ts
Due: biome check --apply --no-errors-on-unmatched

refactor(astro-markflow): add vite-plugin module index
  packages/astro-markflow/src/vite-plugin/index.ts
Due: biome check --apply --no-errors-on-unmatched

refactor(astro-markflow): use registry-driven slot normalization (#145)
  packages/astro-markflow/src/constants.ts
  packages/astro-markflow/src/transforms/blocks-to-jsx.ts
  packages/astro-markflow/src/transforms/inject-components.ts
  packages/astro-markflow/src/utils/config.test.ts
  packages/astro-markflow/src/utils/config.ts
  packages/astro-markflow/src/vite-plugin.ts
  packages/astro-markflow/src/vite-plugin/binding-loader.ts
  packages/astro-markflow/src/vite-plugin/directive-rewriter.ts
  packages/astro-markflow/src/vite-plugin/index.ts
  packages/astro-markflow/src/vite-plugin/jsx-module.ts
  packages/astro-markflow/src/vite-plugin/types.ts
Due: biome check --apply --no-errors-on-unmatched

refactor(astro-markflow): simplify vite-plugin by using extracted modules
  packages/astro-markflow/src/vite-plugin.ts
  packages/astro-markflow/src/vite-plugin/index.ts
  packages/astro-markflow/src/vite-plugin/normalize-config.ts
  packages/astro-markflow/src/vite-plugin/shiki-highlighter.ts
Due: biome check --apply --no-errors-on-unmatched

refactor(astro-markflow): replace duplicate path utilities with imports
  packages/astro-markflow/src/vite-plugin.ts
Due: biome check --apply --no-errors-on-unmatched

refactor(astro-markflow): remove duplicate stripHeadingsMeta function
  packages/astro-markflow/src/transforms/inject-components.ts
Due: biome check --apply --no-errors-on-unmatched

refactor(astro-markflow): consolidate duplicate definitions
  packages/astro-markflow/src/transforms/blocks-to-jsx.ts
  packages/astro-markflow/src/transforms/shiki.ts
  packages/astro-markflow/src/vite-plugin/index.ts
  packages/astro-markflow/src/vite-plugin/shiki-highlighter.ts
  packages/astro-markflow/src/vite-plugin/types.ts
Due: biome check --apply --no-errors-on-unmatched

refactor(astro-markflow): remove deprecated constants
  packages/astro-markflow/src/transforms/inject-components.test.ts
  packages/astro-markflow/src/transforms/inject-components.ts
  packages/astro-markflow/src/utils/config.test.ts
  packages/astro-markflow/src/utils/config.ts
Due: biome check --apply --no-errors-on-unmatched

refactor(astro-markflow): simplify vite-plugin by using extracted mod… (#147)
  packages/astro-markflow/src/vite-plugin.ts
  packages/astro-markflow/src/vite-plugin/index.ts
  packages/astro-markflow/src/vite-plugin/normalize-config.ts
  packages/astro-markflow/src/vite-plugin/shiki-highlighter.ts
Due: biome check --apply --no-errors-on-unmatched

fix(astro-markflow): restore missing esbuild and rollup imports
  packages/astro-markflow/src/vite-plugin.ts
Due: biome check --apply --no-errors-on-unmatched

refactor(astro-markflow): simplify vite-plugin by using extracted modules (#148)
  packages/astro-markflow/src/transforms/blocks-to-jsx.ts
  packages/astro-markflow/src/transforms/inject-components.ts
  packages/astro-markflow/src/transforms/shiki.ts
  packages/astro-markflow/src/vite-plugin/index.ts
  packages/astro-markflow/src/vite-plugin/shiki-highlighter.ts
  packages/astro-markflow/src/vite-plugin/types.ts
Due: biome check --apply --no-errors-on-unmatched

perf: add performance measurement infrastructure and optimizations
  Cargo.lock
  crates/core/Cargo.toml
  crates/core/benches/benchmarks.rs
  packages/astro-markflow/src/transforms/inject-components.ts
  packages/astro-markflow/src/transforms/shiki.ts
  packages/astro-markflow/src/vite-plugin.ts
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

refactor(astro-markflow): remove deprecated constants (#149)
  packages/astro-markflow/src/transforms/inject-components.test.ts
  packages/astro-markflow/src/transforms/inject-components.ts
  packages/astro-markflow/src/utils/config.test.ts
  packages/astro-markflow/src/utils/config.ts
Due: biome check --apply --no-errors-on-unmatched

style: apply rustfmt to benchmarks
  crates/core/benches/benchmarks.rs
Due: cargo fmt --

Perf/measurement infrastructure and optimizations (#150)
  Cargo.lock
  crates/core/Cargo.toml
  crates/core/benches/benchmarks.rs
  packages/astro-markflow/src/transforms/inject-components.ts
  packages/astro-markflow/src/transforms/shiki.ts
  packages/astro-markflow/src/vite-plugin.ts
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

fix(astro-markflow): auto-apply allowImports when starlightComponents is enabled
  packages/astro-markflow/src/index.ts
Due: biome check --apply --no-errors-on-unmatched

feat: add export hoisting support and improve MDX fallback diagnostics
  crates/core/src/codegen.rs
  crates/core/src/transform/code_fence.rs
  crates/napi/src/codegen.rs
  crates/napi/src/compiler.rs
  crates/napi/src/types.rs
  crates/wasm/src/lib.rs
  packages/astro-markflow/src/presets/index.ts
  packages/astro-markflow/src/utils/mdx-detection.ts
  packages/astro-markflow/src/vite-plugin.ts
  packages/astro-markflow/src/vite-plugin/jsx-module.ts
  packages/astro-markflow/src/vite-plugin/types.ts
Due: biome check --apply --no-errors-on-unmatched, cargo fmt --

Path conditions:
  biome check --apply --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,json}
  biome format --write --no-errors-on-unmatched: any of: *.{md,mdx}
  cargo fmt --: any of: *.rs
