Repository knj-labo/mdx-hybrid: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, cargo fmt --

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json}": [
    "biome check --apply --no-errors-on-unmatched"
  ],
  "*.{md,mdx}": [
    "biome format --write --no-errors-on-unmatched"
  ],
  "*.rs": [
    "cargo fmt --"
  ]
}

feat: add Node.js example application
  examples/node/.gitignore
  examples/node/README.md
  examples/node/benchmark.js
  examples/node/compile-watch.js
  examples/node/compile.js
  examples/node/example.mdx
  examples/node/package.json
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat: add Vite example application
  examples/vite/.gitignore
  examples/vite/README.md
  examples/vite/index.html
  examples/vite/package.json
  examples/vite/src/App.css
  examples/vite/src/App.jsx
  examples/vite/src/content/features.mdx
  examples/vite/src/content/performance.mdx
  examples/vite/src/content/welcome.mdx
  examples/vite/src/index.css
  examples/vite/src/main.jsx
  examples/vite/vite.config.js
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat: implement Astro integration package
  packages/core/src/astro.ts
  packages/integrations/astro/package.json
  packages/integrations/astro/src/index.ts
  packages/integrations/astro/tests/astro-integration.test.ts
  packages/integrations/astro/tsconfig.json
  packages/integrations/astro/tsup.config.ts
Due: biome check --apply --no-errors-on-unmatched

feat: add Astro example application
  examples/astro/.gitignore
  examples/astro/README.md
  examples/astro/astro.config.mjs
  examples/astro/package.json
  examples/astro/src/content/blog/post-1.mdx
  examples/astro/src/content/blog/post-2.mdx
  examples/astro/src/content/config.ts
  examples/astro/src/content/welcome.mdx
  examples/astro/src/layouts/Layout.astro
  examples/astro/src/pages/about.mdx
  examples/astro/src/pages/blog/[...slug].astro
  examples/astro/src/pages/index.astro
  examples/astro/tsconfig.json
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat: implement comprehensive benchmarking suite
  benchmarks/fixtures/large.mdx
Due: biome format --write --no-errors-on-unmatched

feat: set up GitHub Actions CI/CD workflows
  .github/workflows/ci.yml
Due: none

fix: resolve ESM/CommonJS compatibility issues
  packages/core/src/engine-selector.ts
  packages/engines/js/src/engine.ts
Due: biome check --apply --no-errors-on-unmatched

fix: update test configuration for ESM support
  packages/core/package.json
  packages/core/tests/compiler.test.ts
  packages/core/tests/engine-selector.test.ts
  packages/core/tsconfig.json
  packages/core/tsup.config.ts
  packages/core/vitest.config.ts
Due: biome check --apply --no-errors-on-unmatched

docs: update CLAUDE.md with comprehensive project guidance
  CLAUDE.md
Due: biome format --write --no-errors-on-unmatched

test: add Vite integration test file
  packages/integrations/vite/tests/vite-plugin.test.ts
Due: biome check --apply --no-errors-on-unmatched

refactor: convert EngineSelector class to factory function with JSDoc
  packages/core/src/engine-selector.ts
Due: biome check --apply --no-errors-on-unmatched

refactor: convert JSEngine class to factory function with JSDoc
  packages/engines/js/src/engine.ts
  packages/engines/js/src/index.ts
Due: biome check --apply --no-errors-on-unmatched

refactor: convert Compiler class to factory function with JSDoc
  packages/core/src/compiler.ts
  packages/core/src/index.ts
Due: biome check --apply --no-errors-on-unmatched

refactor: update benchmark to use factory functions
  examples/node/benchmark.js
Due: biome check --apply --no-errors-on-unmatched

test: update tests to use factory functions
  packages/core/tests/compiler.test.ts
  packages/core/tests/engine-selector.test.ts
  packages/engines/js/tests/engine.test.ts
Due: biome check --apply --no-errors-on-unmatched

fix: enable Rust engine in ESM environments using createRequire
  packages/core/src/engine-router.ts
Due: biome check --apply --no-errors-on-unmatched

refactor: convert project to ESM-only
  .serena/cache/typescript/document_symbols_cache_v23-06-25.pkl
  package.json
  packages/core/tsup.config.ts
  packages/engines/js/tsup.config.ts
  packages/engines/rust/index.d.ts
  packages/engines/rust/index.js
  packages/integrations/astro/tsup.config.ts
  packages/integrations/vite/tsup.config.ts
Due: biome check --apply --no-errors-on-unmatched

feat: add preloadEngines for sync method support in ESM
  .serena/cache/typescript/document_symbols_cache_v23-06-25.pkl
  examples/node/test-sync.js
  packages/core/src/compiler.ts
  packages/core/src/engine-router.ts
  packages/core/src/index.ts
Due: biome check --apply --no-errors-on-unmatched

fix: resolve Astro integration build errors
  packages/integrations/astro/src/index.ts
Due: biome check --apply --no-errors-on-unmatched

remove private
  package.json
Due: biome check --apply --no-errors-on-unmatched

update ver
  package.json
Due: biome check --apply --no-errors-on-unmatched

update .gitignore
  .gitignore
Due: none

feat: improve error messages for engine loading
  packages/core/src/engine-router.ts
Due: biome check --apply --no-errors-on-unmatched

update version
  README.md
  benchmarks/CHANGELOG.md
  benchmarks/package.json
  benchmarks/run.js
  examples/node/CHANGELOG.md
  examples/node/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/engines/js/CHANGELOG.md
  packages/engines/js/package.json
  packages/engines/rust/CHANGELOG.md
  packages/engines/rust/package.json
  packages/integrations/astro/CHANGELOG.md
  packages/integrations/astro/package.json
  packages/integrations/vite/CHANGELOG.md
  packages/integrations/vite/package.json
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

upgrade 0.0.2
  package.json
Due: biome check --apply --no-errors-on-unmatched

update ver
  benchmarks/CHANGELOG.md
  benchmarks/package.json
  examples/node/CHANGELOG.md
  examples/node/package.json
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/src/engine-router.ts
  packages/core/src/types.ts
  packages/engines/js/CHANGELOG.md
  packages/engines/js/package.json
  packages/engines/js/src/engine.ts
  packages/engines/js/src/types.ts
  packages/engines/rust/CHANGELOG.md
  packages/engines/rust/package.json
  packages/engines/rust/src/lib.rs
  packages/integrations/astro/CHANGELOG.md
  packages/integrations/astro/package.json
  packages/integrations/vite/CHANGELOG.md
  packages/integrations/vite/package.json
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, cargo fmt --

upgrade ver
  package.json
Due: biome check --apply --no-errors-on-unmatched

publish dir/ and upgrade ver
  .changeset/rust-engine-dist-structure.md
  package.json
  packages/core/package.json
  packages/engines/js/package.json
  packages/engines/rust/.npmignore
  packages/engines/rust/npm/darwin-arm64/package.json
  packages/engines/rust/npm/darwin-x64/package.json
  packages/engines/rust/npm/linux-x64-gnu/package.json
  packages/engines/rust/npm/linux-x64-musl/package.json
  packages/engines/rust/npm/win32-x64-msvc/package.json
  packages/engines/rust/package.json
  packages/engines/rust/src/index.ts
  packages/engines/rust/tsup.config.ts
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

core: refactor streaming parser and retain MDX slices
  crates/core/src/lib.rs
  crates/core/src/markdown_adapter.rs
Due: cargo fmt --

フィクスチャ／テスト拡充コミット
  crates/napi/tests/parse.test.js
  crates/napi/tests/parseWithOptions.test.js
  crates/napi/tests/parseWithStats.test.js
  docs/development/guidelines-ja.md
  docs/development/guidelines.md
  docs/specs/mf-101-streaming.md
  docs/specs/mf-118-napi-smoke.md
  docs/specs/mf-140-core-engine.md
  fixtures/core/markdown/hello.md
  fixtures/core/markdown/table.md
  fixtures/core/mdx/embedded-jsx/component.mdx
  fixtures/core/mdx/esm/imports.mdx
  fixtures/core/mdx/expressions/flow.mdx
  fixtures/core/mdx/expressions/inline.mdx
Due: biome check --apply --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched
